<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>米饭.tv</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Loading Bootstrap -->
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Flat UI -->
  <link href="/static/css/flat-ui.css" rel="stylesheet">

  <!-- Loading mifan.tv -->
  <link href="/static/css/mifan.tv.css" rel="stylesheet">

  <link rel="shortcut icon" href="/static/images/favicon.ico">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <script src="/static/js/jquery-1.8.3.min.js"></script>
  
  <script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.comment',  function() {
          $(this).hide();
          $(this).parent().parent().find(".comment-editor").html("<div class=\"divider\" style=\"\"></div><div class=\"wrapper\"><a href=\"./\" class=\"\" aria-hidden=\"true\"><img src=\"//lh4.googleusercontent.com/-deUkWpgvu6o/AAAAAAAAAAI/AAAAAAAAAAA/p6RFKhrUf1g/s28-c-k-no/photo.jpg\"width=\"28px\" height=\"28px\" alt=\"\" class=\"avatar\"></a><div class=\"editor-box\"><div class=\"inner\"><div class=\"input\" role=\"textbox\" contenteditable=\"plaintext-only\"></div></div></div><span class=\"button-wrap\"><div role=\"button\" id=\":61.post\" class=\"gbtn post gbtn-unenable\" aria-disabled=\"true\" style=\"-webkit-user-select: none;\">发布评论</div><div role=\"button\" id=\":61.cancel\" class=\"gbtn cancel\" style=\"-webkit-user-select: none;\">取消</div></span></div>");
        });

        $(document).on('click', '.cancel',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });
      });
    </script>

    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>
<body>

  <div class="row demo-row">
    <div class="span9">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
            <div class="nav-collapse collapse" id="nav-collapse-01">
              <ul class="nav">
                <li id="logo">
                  <a href="/" class="brand">
                    米饭.tv
                    <span class="navbar-unread">1</span>
                  </a>
                </li>
                <li>
                  <form class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search"></form>
                </li>
                <li class="active">
                  <a href="/video">短片</a>
                </li>
                <li>
                  <a href="#fakelink">电影</a>
                </li>
                <li>
                  <a href="#fakelink">电视剧</a>
                </li>
                <li>
                  <a href="#fakelink">明星</a>
                </li>
              </ul>

            </div>
            <!--/.nav -->
            <div class="nav-collapse collapse pull-right">
              <ul class="nav">
                <li class="active">
                  <a title="jay_gao" class="avatar_c" href="/">
                    <img src="http://img3.douban.com/icon/u2386491-1.jpg" width="30" alt="jay_gao"></a>
                </li>

              </ul>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="left-bar">
    <ul class="nav nav-list">
      <li class="nav-header">
        List header
      </li>
      <li class="nav-item">
        <a href="#">
          <i class="icon-home"></i>
          首页
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-message"></i>
          消息
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-fav"></i>
          收藏
        </a>
      </li>
      <li class="nav-header">
        Another list
      </li>
      <li>
        <a href="#">
          <i class="icon-latter"></i>
          稍后观看
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-follow"></i>
          关注
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#">
          <i class="icon-history"></i>
          观看记录
        </a>
      </li>
    </ul>
  </div>

  {% block main %}{% endblock %}

  {% block right %}{% endblock %}

  <!-- Load JS here for greater good =============================-->
  <!--
    <script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.js"></script>
<script src="/static/js/bootstrap-switch.js"></script>
<script src="/static/js/flatui-checkbox.js"></script>
<script src="/static/js/flatui-radio.js"></script>
<script src="/static/js/jquery.tagsinput.js"></script>
<script src="/static/js/jquery.placeholder.js"></script>
<script src="/static/js/jquery.stacktable.js"></script>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<script src="/static/js/application.js"></script>
-->
</body>
</html>