body {
  background: #ebebeb;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: blink;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.navbar .nav {
  background: #fe4e5b;
}

.navbar-inverse .navbar-inner {
  background: #fe4e5b;
}

.navbar-inverse .nav > li.active > a,
.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
  background-color: #ee4a55;
  border-bottom-color: #ee4a55;
}

.navbar-inverse .nav > li > a {
  border-bottom: 2px solid #fe4e5b;
  border-left: 2px solid #fe4e5b;
}

.navbar-inverse .nav > li > a.avatar_c {
  padding: 11px 30px 10px 20px;
}

.navbar .nav ul li {
  background-color: #fe4e5b;
}

.navbar .nav > li > ul:before {
  border-color: transparent transparent #fe4e5b transparent;
}

.navbar-inverse .brand {
  border-right: 2px solid #ee4a55;
}

#logo {
  width: 220px;
}

.navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #ffffff;
  border: 0px;
  border-radius: 1px;
  margin: 5px 20px;
  width: 280px;
}

.navbar-search .search-query {
  padding: 5px 15px;
}

.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  border: 1px;
  border-color: #ee4a55;
}

.left-bar {
  position: fixed;
  margin-left: 0px;
  top: 0px;
  height: 100%;
  width: 218px;
  background-color: #ffffff;
  padding: 80px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.nav-list > li > a {
  padding: 15px 35px;
}

.nav-list .nav-header {
  margin-right: -15px;
  margin-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.feeds {
  width: 500px;
  margin: 100px 259px;
}

.card {
  width: 478px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: block;
  position: relative;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.card > a:hover {
  text-decoration: none;
}

.avatar img {
  float: left;
  width: 46px;
  height: 46px;
  margin: 20px 15px 0 20px;
  padding: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.card .info {
  float: left;
  margin-top: 8px;
}

.username {
  margin: 0;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  unicode-bidi: normal;
}

.ct, .ic, .it {
  color: #999;
  display: inline-block;
  font-size: 12px;
}

.intro {
  clear: both;
  padding: 20px 20px 0 20px;
}

p {
  color: #000;
  line-height: 150%;
}

.thumb {
  padding: 20px;
  position: relative;
}

.thumb img {
  width: 130px;
  height: 78px;
}

.thumb .play {
  background: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png) no-repeat 0 0;
  bottom: 25px;
  height: 26px;
  left: 25px;
  position: absolute;
  width: 35px;
}

.thumb .title {
  width: 280px;
  left: 170px;
  top: 20px;
  position: absolute;
}

.right-bar {
  position: fixed;
  margin-left: 777px;
  top: 101px;
  width: 259px;
  height: 100%;
}

.maylike {
  width: 240px;
  background-color: #ffffff;
  padding: 20px;
  float: left;
}

.maylike:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.maylike > a:hover {
  text-decoration: none;
}

.maylike .like-channels {
  margin-top: 20px;
}

.maylike .channel-item .cover {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  clear: left;
  width: 46px;
  height: 46px;
}

.maylike .channel-item  .info {
  float: left;
  margin-top: 5px;
}

.maylike .channel-item .info .title a {
  color: #262626;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
}

.maylike .channel-item .info .like a {
  color: #999;
  font-size: 12px;
  margin-top: 4px;
  white-space: nowrap;
}

.ico_retract {
  background-position: -175px 0px;
  vertical-align: -2px;
}

.W_ico12 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("http://img.t.sinajs.cn/t5/style/images/common/icon.png?id=201307021600");
  _background-image: url("http://img.t.sinajs.cn/t5/style/images/common/icon.png?id=201307021600");
  background-repeat: no-repeat;
}

.ico_showbig {
  background-position: -175px -25px;
  vertical-align: -2px;
}

.W_vline {
  margin: 0 10px;
  color: #aeaeae;
}

.plus-btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  float: left;
  height: 28px;
  line-height: 28px;
  margin: 0 0px 20px 20px;
  padding: 0 10px 0 10px;
  outline: none;
  width: auto;
  background-image: none;
  -webkit-appearance: none;
}

.btn-wrap {
  color: #262626;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  opacity: .7;
}

.plus-icon {
  background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/stream_showroom-5e642ff96b1bc52e1e70300ffab85ded.png) 0 -948px;
  display: inline-block;
  height: 8px;
  margin-bottom: 1px;
  margin-right: 2px;
  width: 8px;
}

.share-btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  float: left;
  height: 28px;
  line-height: 28px;
  margin-left: 8px;
  padding: 0 10px 0 10px;
  outline: none;
  width: auto;
}

.share-icon {
  background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/stream_showroom-5e642ff96b1bc52e1e70300ffab85ded.png) -7px -194px;
  display: inline-block;
  height: 16px;
  margin-bottom: 3px;
  width: 16px;
  vertical-align: middle;
}

.bottom>.comment {
  overflow: hidden;
}
.comment {
  margin: 0 20px 0 20px;
  padding: 0 0 20px 0;
}

.bottom>.comment>.comment-box {
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.comment-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #999;
  cursor: text;
  font-size: 12px;
  height: 31px;
  margin: 0 0 0 0;
  padding: 6px 8px;
}

.plus-btn:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.share-btn:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.plus-btn:active{
  background-color: #ebebeb;
}

.share-btn:active{
  background-color: #ebebeb;
}

.comment-box:active{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.comment-editor {
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background-color: #f8f8f8;
  clear:both;
}

.comment-editor>.divider {
  border-top: 1px solid #e5e5e5;
  padding-bottom: 16px;
}



.wrapper {
  margin: 0 20px 0 20px;
  padding: 0 0 15px 38px;
}



.editor-box {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 7px;
  min-height: 0;
  padding: 6px 6px;
}

.wrapper .inner {
  max-height: 3.9em;
  overflow-y: auto;
  background: transparent;
  position: relative;
  min-height: 3.9em;
  z-index: 1;
}

.wrapper .input {
  cursor: text;
  font: normal 13px/1.4 Roboto,arial,sans-serif;
  word-wrap: break-word;
  outline: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}


.button-wrap {
  display: inline;
}

.gbtn-unenable {
  background: #53a93f;
  filter: alpha(opacity=50);
  opacity: .5;
}

.post {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background-color: #53a93f;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: none;
}

.cancel {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  color: #404040;
  border: 1px solid #d9d9d9;
  border: 1px solid rgba(0,0,0,.15);
}

.gbtn {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin-right: 16px;
  height: 28px;
  line-height: 28px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}

.cancel:hover{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.cancel:active{
  background-color: #ebebeb;
}

.cancel:active{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.comment-editor .avatar {
  margin: 0px 0 0 -38px;
  float: left;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

img {
  border: 0;
}

.container {
  float: left;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1360px;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1360px;
}

.channels {
  width: 786px;
  margin: 100px 259px;
}

.channels .channel {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  word-wrap: break-word;
}

.channels .channel:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.channels .channel > a:hover {
  text-decoration: none;
}

.avt {
  width: 34px;
  height: 34px;
}

.channels .channel .cover {
  float: left;
}

.channels .channel .cover .c-avatar {
  display: block;
  width: 187px;
  height: 140px;
  overflow: hidden;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  text-indent: -9999px;
  background-color: #E5E8E8;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 1px 0 1px #cacaca;
}

.channels .channel .info {
  padding: 10px 20px;
  float: left;
}

.channels .channel .info .title{
  margin: 10px 0px;
}

.channels .channel .info .discription {
  width: 160px;
  color: #999;
  display: inline-block;
  font-size: 12px;
}

.channel-timeline {
  width: 801px;
  margin: 100px 259px;
}

.timeline {
  background: url(/static/images/line.png) top repeat-y;
  list-style: none;
  margin: 0;
  position: relative;
}

.timeline .spine {
  position: absolute;
  left: 486px;
  width: 29px;
  height: 100%;
}

.timeline > li {
  float: left;
  clear: left;
  margin-bottom: 15px;
  position: relative;
}

.timeline .card {
  width: 386px;
}

.timeline .card .thumb .title {
  width: 205px;

}

.timeline .pointer {
  background: url(/static/images/icons-4.png) -41px -28px no-repeat;
  width: 19px;
  height: 15px;
  position: absolute;
  right: -18px;
  top: 20px;
}

.timeline > .right {
  float: right;
  clear: right;
}

.timeline > .left + .right > .pointer {
  top: 40px;
}

.timeline .right > .pointer {
  left: -18px;
  right: auto;
  background-position: -61px -28px;
}



.channel-tag:hover {
-webkit-transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-start;
transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-start;
box-shadow: 0 0 20px rgba(0,0,0,.2);
max-width: 100%;
z-index: 3;
}

.channel-tag {
-webkit-transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
font-size: 14px;
margin: 38px 0 0 0;
max-width: 5%;
position: absolute;
right: 0;
top: 0;
}

.channel-tag:hover .tag-wapper {
background-color: #fff;
cursor: pointer;
display: block;
float: none;
white-space: nowrap;
}

.channel-tag:hover .tag {
-webkit-transition: opacity .218s ease,max-width .218s step-start,visibility .218s step-start;
transition: opacity .218s ease,max-width .218s step-start,visibility .218s step-start;
max-width: 360px;
}

.tag-wapper {
background-color: #f5f5f5;
float: right;
clear: both;
height: 26px;
line-height: 26px;
word-wrap: normal;
}

.tag {
max-width: 130px;
outline: none;
-webkit-transition: opacity .218s ease,max-width .218s step-end,visibility .218s step-end;
transition: opacity .218s ease,max-width .218s step-end,visibility .218s step-end;
color: #999;
display: block;
float: right;
max-width: 180px;
overflow: hidden;
padding: 0 10px;
text-overflow: ellipsis;
white-space: nowrap;
}



.nav-list [class^="icon-"], .nav-list [class*=" icon-"] {
width: 25px;
height: 25px;
margin-top: -3px;
margin-right: 6px;
vertical-align: text-top;
background-position: 0px 0px;
background-size:25px;
background-repeat: no-repeat;
display: inline-block;
}

.icon-home {
  background-image: url(/static/images/web-icon-large.png);
}

.icon-message {
  background-image: url(/static/images/email-icon-large.png);
}

.icon-fav {
  background-image: url(/static/images/folder-icon-large.png);
}

.icon-latter {
  background-image: url(/static/images/note-icon-large.png);
}

.icon-follow {
  background-image: url(/static/images/file-icon-large.png);
}

.icon-history {
  background-image: url(/static/images/cart-icon-large.png);
}

.icon-first {
  background-image: url(/static/images/iTunes.png);
}

.icon-second {
  background-image: url(/static/images/Time-Machine.png);
}

.nav-list .icon-header {
  width: 48px;
height: 48px;
margin-top: -15px;
margin-left: -7px;
margin-right: 6px;
vertical-align: text-top;
background-position: 0px 0px;
background-size:48px;
background-repeat: no-repeat;
display: inline-block;
}






.b-profile__top {
box-shadow: 0 0 3px #d6d6d6;
width: 801px;
margin-bottom: 30px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.b-profile__top:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.b-profile__wrapper {
height: 140px;
background: #ffffff;
overflow: hidden;
}

.b-author.m-profile {
position: relative;
width: auto;
left: 0;
top: 0;
height: 140px;
border-radius: 0;
}

.b-author {
position: absolute;
height: 64px;
width: 79px;
z-index: 10;
}

.b-author.m-expanded.m-profile .b-author__image {
width: 97px;
border-radius: 55px;
left: 30px;
top: 25px;
}

.b-author.m-expanded .b-author__image {
width: 43px;
left: 19px;
top: 5px;
width: 43px;
}

.b-author__image {
border-radius: 30px 30px 30px 30px;
left: 19px;
position: absolute;
top: 5px;
width: 55px;
z-index: 2;
}

.b-author.m-expanded .b-author__bg {
display: none;
}

.b-author__bg {
background: url(http://www.shopperly.co/img/posts/profile-circles.png) -179px 0 no-repeat;
height: 72px;
position: relative;
z-index: 3;
cursor: pointer;
}

.b-author.m-expanded.m-profile .b-author__content {
border: none;
background: transparent;
padding-left: 153px;
width: 318px;
overflow: visible;
padding-right: 50px;
border-right: 1px solid #dddedf;
}

.b-author.m-profile.m-expanded .b-author__content, .b-author.m-profile {
position: relative;
width: auto;
left: 0;
top: 0;
height: 140px;
border-radius: 0;
}

.b-author.m-expanded .b-author__content {
position: relative;
opacity: 1;
top: -8px;
left: -5px;
}

.b-author__content {
position: absolute;
left: -9999px;
top: -9999px;
width: 350px;
position: relative;
z-index: 1;
border-radius: 4px;
border: 2px solid rgba(230, 230, 230, 0.7);
overflow: hidden;
background: #f9f9f9;
opacity: 0;
-moz-transition-property: opacity;
-moz-transition-duration: .2s;
-webkit-transition-property: opacity;
-webkit-transition-duration: .2s;
transition-property: opacity;
transition-duration: .2s;
}

.m-profile .b-author__username {
font-size: 24px;
padding-left: 0;
padding-top: 22px;
width: 240px;
}

.b-author__username {
color: #58595B;
font-size: 17px;
height: 43px;
line-height: 43px;
margin: 0;
overflow: hidden;
padding-left: 85px;
padding-top: 12px;
text-overflow: ellipsis;
white-space: nowrap;
width: 155px;
}

h4 {
font-size: 1em;
margin: 1.33em 0;
}

.b-author__username a {
text-decoration: none;
color: #58595B;
}

.b-author__username {
color: #58595B;
font-size: 17px;
line-height: 43px;
white-space: nowrap;
}

.m-profile .b-author__text {
padding: 8px 0 0;
border: none;
color: #808184;
}

.b-author__text {
padding: 10px 25px;
font-size: 13px;
line-height: 22px;
margin: 0;
color: #58595B;
border-bottom: 1px solid #e4e5e6;
width: 300px;
}

.m-profile.b-stat-list {
height: 140px;
padding: 0;
position: absolute;
right: -20px;
top: 0;
width: 380px;
border-top: 0;
}

.b-stat-list {
overflow: hidden;
border-top: 1px solid #fbfbfb;
padding: 8px 9px;
margin: 0;
}

.b-stat-list.m-profile .b-stat-list__el {
font-weight: 700;
height: 52px;
margin-top: 40px;
padding-top: 10px;
width: 120px;
color: #1abc9c;
}
.b-stat-list__el.m-clickable {
cursor: pointer;
}
.b-stat-list__el {
float: left;
height: 55px;
width: 109px;
border-right: 1px solid #e2e2e2;
font-size: 32px;
text-align: center;
padding-top: 5px;
}

.b-stat-list.m-profile .b-stat-list__el span {
color: #78797B;
padding-top: 8px;
font-weight: 100;
}
.b-stat-list__el span {
font-style: italic;
color: #58595B;
font-size: 13px;
display: block;
padding-top: 3px;
}

.b-profile__tabs {
height: 40px;
border-top: 2px solid #eaeaeb;
padding: 0;
margin: 0;
}
.clearfix {
zoom: 1;
}

ul {
list-style: none;
}

.b-stat-list ul {
margin: 1em 0;
}

.taglist-holder ul {
margin: 1em 0;
}

.b-profile__tab:first-child {
border-left: 0;
}

.b-profile__tab {
float: left;
width: 100px;
height: 40px;
color: #bbbdbf;
line-height: 36px;
font-size: 13px;
text-align: center;
cursor: pointer;
position: relative;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.b-profile__tab.m-active .b-profile__tab-highlight {
display: block;
}

.b-profile__tab a {
display: block;
height: 40px;
text-decoration: none;
color: #404041;
}

.b-profile__tab:last-child {
border-right: 0;
}

.b-profile__tab-highlight {
background: #1abc9c;
bottom: -2px;
height: 2px;
width: 100%;
left: 0;
display: none;
position: absolute;
}

.kmGW6b {
display: inline-block;
vertical-align: top;
}

.K0b .Os3xkf {
display: inline-block;
height: 300px;
margin-left: 10px;
margin-right: 10px;
text-align: left;
}
.Ltb {
margin-bottom: 10px;
margin-top: 10px;
overflow: hidden;
}

.vlMSze:first-child {
margin-left: 0;
}
.vlMSze {
display: inline-block;
height: 300px;
margin-left: 20px;
overflow: hidden;
position: relative;
vertical-align: top;
width: 170px;
}
.j8T7he {
-webkit-box-sizing: border-box;
box-sizing: border-box;
vertical-align: top;
}
.r6Rtbe {
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-sizing: border-box;
box-sizing: border-box;
background-color: #fff;
border: 1px solid #d8d8d8;
border-bottom-width: 2px;
border-top-width: 0;
vertical-align: top;
}

.sNZZue {
display: inline-block;
height: 150px;
overflow: hidden;
position: absolute;
width: 170px;
}

.vlMSze .Rf {
float: left;
-webkit-border-radius: 0;
border-radius: 0;
-webkit-transition: all .1s linear;
transition: all .1s linear;
position: relative;
top: -10px;
left: 0;
}
.Rf {
-webkit-border-radius: 4px;
border-radius: 4px;
}
img {
border: 0;
}
img[Attributes Style] {
width: 170px;
height: 170px;
}

.Xk6Ee {
-webkit-box-sizing: border-box;
box-sizing: border-box;
background: white;
display: inline-block;
height: 101px;
overflow: hidden;
position: absolute;
top: 150px;
width: 100%;
}

.Dt0N7d {
display: block;
font-size: 16px;
font-weight: bold;
line-height: 18px;
margin: 8px 14px 0 14px;
overflow: hidden;
padding-bottom: 2px;
}
.fmPSLc {
-webkit-transition: color .6s ease-in-out;
transition: color .6s ease-in-out;
color: #404040;
}

.We4Wwc {
color: #737373;
display: block;
font-size: 12px;
line-height: 16px;
margin: 6px 14px 0 14px;
overflow: hidden;
text-overflow: ellipsis;
}

.kOVcgc {
bottom: 0;
display: inline-block;
left: 0;
line-height: 29px;
padding-bottom: 10px;
padding-top: 10px;
position: absolute;
text-align: center;
width: 100%;
}

.kOVcgc .er {
vertical-align: bottom;
}
.er {
line-height: 0;
vertical-align: top;
}
.a-f-e {
position: relative;
display: -moz-inline-box;
display: inline-block;
}

.kOVcgc .c-b-T {
background: white;
}
.kOVcgc .c-b {
width: 124px;
}
.y-qa-za-b {
margin: 0;
overflow: hidden;
text-overflow: ellipsis;
text-transform: none;
white-space: nowrap;
word-wrap: normal;
}
.c-b-T {
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
box-shadow: 0 1px 0 rgba(0,0,0,.05);
background-color: #fff;
background-image: -webkit-linear-gradient(top,transparent,transparent);
background-image: linear-gradient(top,transparent,transparent);
color: #404040;
border: 1px solid #d9d9d9;
border: 1px solid rgba(0,0,0,.15);
}
.c-b {
-webkit-border-radius: 2px;
border-radius: 2px;
cursor: default;
font-size: 12px;
font-weight: bold;
text-align: center;
white-space: nowrap;
height: 28px;
line-height: 28px;
min-width: 54px;
outline: 0;
padding: 0 8px;
}
.a-f-e {
position: relative;
display: -moz-inline-box;
display: inline-block;
}

span[Attributes Style] {
direction: ltr;
unicode-bidi: embed;
}

.Ltb {
  margin-right: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.Ltb:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.taglist-holder {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.taglist-holder:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}



.taglist-holder {
  width: 690px;
overflow: hidden;
padding: 10px 28px;
margin-bottom: 30px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border: 1px solid #d7d9db;
box-shadow: inset 0 0 1px #dee0e2;
background: #fff;
}


.clearfix, #content {
zoom: 1;
}


.taglist li {
float: left;
width: 75px;
height: 30px;
}


.taglist li.selected a, .taglist li.selected a:link, .taglist li.selected a:visited, .taglist li.selected a:hover {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
height: 26px;
line-height: 26px;
background: #fff;
box-shadow: 0 1px 1px #b8bbbf;
color: #444;
}

.taglist li a, .taglist li a:link, .taglist li a:visited {
font-size: 14px;
float: left;
height: 26px;
line-height: 26px;
color: #838484;
padding: 0 10px;
}
.taglist li a, .taglist li a:link, .taglist li a:visited {
font-size: 14px;
float: left;
height: 26px;
line-height: 26px;
color: #838484;
padding: 0 10px;
}
.taglist li a, .taglist li a:link, .taglist li a:visited {
font-size: 14px;
float: left;
height: 26px;
line-height: 26px;
color: #838484;
padding: 0 10px;
}

.taglist li {
float: left;
width: 75px;
height: 30px;
}

.tabbar {
  width: 478px;
  height: 45px;
  background: #fff;
  margin-bottom: 10px;

  border-radius: 2px;
}



.tab {
  float: left;
  padding: 14px 20px;
}

.tab:hover{
  background-color: #3e8bf5;
}

.tab:hover a {
  color: #fff;
}

.tab-link {
  font-size: 13px;
  color: #999;

}


.post-btn {
  float: right;
  width: 100px;
  
}

.post-btn a {
  font-size: 13px;
}

.post-btn .btn {

  border-radius: 3px;
  margin-top: 6px;
  padding: 6px 20px;
}

.post-box {
  width: 478px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.t-avatar {
  float: left;
}
.t-link {
  float: left;
  margin: 20px 15px 0 20px;
}
.t-channel {
  float: left;
  margin: 20px 15px 0 20px;
}

.t-avatar img {
  float: left;
  width: 46px;
  height: 46px;
  margin: 20px 15px 0 20px;
  padding: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.row2 {
  clear: both;
}

.row3 {
  clear: both;
}

.row4 {
  clear: both;
  background: #fff;
  padding: 20px 0;
  margin-top: 70px;
}


.v-description {
  float: left;
  margin: 20px 20px 0 20px;
}

.v-link {
  float: left;
  margin: 14px 20px 0 8px;
  font-size: 12px;
}

.v-channel {
  float: left;
  margin: 14px 20px 0 8px;
}

.post-box textarea {
width: 340px;
height: 80px;
border-radius: 0px;
font-size: 12px;
}
.post-box input {
  width: 340px;
border-radius: 0px;
font-size: 12px;
}

.post-box select {
  width: 354px;
border-radius: 0px;
font-size: 12px;
}

.post-btn-wrap {
  margin-left: 20px;
}


.create-channel {
  position: absolute;
  left: 900px;
  top: 220px;
  width: 100px;
}

.create-channel a {
  font-size: 13px;
}

.create-channel .btn {
  border-radius: 3px;
  margin-top: 6px;
  padding: 6px 20px;
}


.post:hover {
-webkit-box-shadow: inset 0 -1px 0 #4c8534;
box-shadow: inset 0 -1px 0 #4c8534;
background-color: #65b045;
background-image: -webkit-linear-gradient(top,transparent,transparent);
background-image: linear-gradient(top,transparent,transparent);
border: 1px solid transparent;
border-bottom: 1px solid #4c8534;
text-shadow: none;
}

.post:active {
-webkit-box-shadow: inset 0 1px 0 #2f6124;
box-shadow: inset 0 1px 0 #2f6124;
background: #3e802f;
border: 1px solid transparent;
border-top: 1px solid #2f6124;
}

.channel-box {
  width: 746px;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.channel-box textarea {
width: 610px;
}
.channel-post-btn {
  float: right;
  margin-right: 10px;
}

.channel-post-btn a {
  font:italic bold 13px arial,sans-serif;
}

.channel-post-btn .btn {

  border-radius: 3px;
  margin-top: 6px;
  padding: 4px 20px;
}

.channel-post-btn {
  padding: 4px 0px;
}

.follow-btn a {
  font:bold 13px arial,sans-serif;
}


.timeline .post-box {
  width: 386px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.timeline .post-box textarea {
width: 246px;
height: 80px;
border-radius: 0px;
font-size: 12px;
}

.channel-box input {
  width: 610px;
border-radius: 0px;
font-size: 12px;
}
.timeline .post-box input {
  width: 246px;
border-radius: 0px;
font-size: 12px;
}

.timeline .post-box:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}