/* navbar start */
.mf-nav {
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
background-color: #fe4e5b;
border-color: #ee4a55;
box-shadow: 0 1px 0 rgba(255,255,255,.1);
}


.mf-nav .navbar-toggle {
border-color: #ee4a55;
}

.mf-nav .navbar-brand {
color: #fff;
}

.mf-nav .navbar-collapse {
border-color: #ee4a55;
}

.mf-nav .navbar-nav > li > a {
color: #fff;
}

.mf-nav .navbar-nav > .active > a, .mf-nav .navbar-nav > .active > a:hover, nav ul .nav-item:hover {
color: #fff;
background-color: #ee4a55;
}

.navbar-brand {
background: no-repeat url(/static/images/logo.png);
margin: 10px 0px 10px 0px;
width: 163px;
}

.container>.navbar-header {
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-toggle {

margin-right: 0px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: #ee4a55;
}
/* navbar end */




/* std-posts start */
.main {
background: #fff;
}

.container {
padding-right: 10px;
padding-left: 10px;
}

.row {
margin-right: 0;
margin-left: 0;
}

.section {
float: left;
width: 100%;
margin-bottom: 15px;
}


.std-posts {
position: relative;
padding-left: 0px;
}

.std-posts .post.first {
background: 0;
}
.std-posts .post {
padding: 15px 0 10px 110px;
border-bottom: 1px solid #eee;
margin: 0;
position: relative;
float: left;
display: inline;
width: 100%;
}

.std-posts .thumb-unit {
margin-left: -110px;
margin-top: 3px;
float: left;
width: 100px;
display: inline;
position: relative;
}

img {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
background: transparent;
vertical-align: baseline;
}

.std-posts .post h2 {
margin-bottom: 6px;
font: normal 21px/23px "ProximaNovaSemibold",Helvetica,Arial,sans-serif;
text-shadow: 1px 1px 0 white;
margin-top: -3px;
font-size: 18px;
line-height: 22px;
padding: 0;
}

.post h2 a {
color: #07e;
}

.std-posts .post .description, .splash .BF_IFRAME .bf-item-title {
padding-right: 0px;
margin-bottom: 5px;
font: normal 13px/17px "",Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 16px;
}

p.small-meta > * {
float: left;
font-size: 10px;
color: #aaa;
}
p.small-meta .icon {
background: url(/static/images/small_meta_icons.png);
width: 12px !important;
height: 12px;
float: left;
margin: 1px 3px 0px 8px;
}

p.small-meta .generic-image {
margin: 1px 5px 0px 0px;
}
.post .username {
display: block;
max-width: 130px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
p.small-meta a {
color: #aaa;
}

p.small-meta .time-image {
background-position: 0px -12px;
}

p.small-meta .response-image {
background-position: 0px -60px;
}

.thumb {
	width: 100px;
}

.previous {
	margin-top: 10px;
float: left;
}

.next {
	margin-top: 10px;
float: right;
}

/* std-posts end */