#share_toolbar_wrapper {
padding-top: 4px;
background: #fff;
_zoom: 1;
}


#share_toolbar {
width: 570px;
height: 33px;
line-height: 33px;
_height: 32px;
_line-height: 14px;
border: 1px solid #ddd;
background: #fcfcfc;
border-radius: 5px;
}

media="screen"
#share_toolbar_wrapper #share_toolbar {
border-radius: 0;
}

.stb_group, .stb_divide {
float: left;
display: block;
}


#stb_article_view span {
display: block;
line-height: 12px;
font-size: 11px;
margin: 0 5px;
color: #aaa;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#stb_article_view #stb_article_view_icon {
display: block;
_display: inline-block;
background: url("/static/images/bg.gif") 0 0 no-repeat;
height: 14px;
width: 18px;
margin: 3px auto 1px auto;
_margin-left: 8px;
}

#stb_article_view span {
display: block;
line-height: 12px;
font-size: 11px;
margin: 0 5px;
color: #aaa;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.stb_divide {
background: url("/static/images/bg.gif") 1px -19px no-repeat;
width: 9px;
height: 33px;
}
.stb_group, .stb_divide {
float: left;
display: block;
}

.bdsharebuttonbox {
height: 31px;
line-height: 28px;
padding: 3px 5px 0 5px;
overflow: hidden;
float: left;
}
.bdshare-button-style0-16 {
zoom: 1;
}

.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more {
float: left;
font-size: 12px;
padding-left: 17px;
line-height: 16px;
height: 16px;
background-image: url(/static/images/icons_0_16.png);
background-repeat: no-repeat;
cursor: pointer;
margin: 6px 6px 6px 0;
}
.bdsharebuttonbox .bds_has_name {
padding: 0 5px 0 20px;
border-right: 1px solid #ccc;
}
.bdshare-button-style0-16 .bds_tsina {
background-position: 0 -104px;
}
.bdsharebuttonbox a {
height: 16px;
line-height: 16px;
margin-right: 6px;
color: #999;
}

.bdshare-button-style0-16 .bds_qzone {
background-position: 0 -52px;
}

.bdshare-button-style0-16 .bds_weixin {
background-position: 0 -1612px;
}

.bdshare-button-style0-16 .bds_renren {
background-position: 0 -208px;
}

.bdshare-button-style0-16 .bds_tqq {
background-position: 0 -260px;
}

.bdshare-button-style0-16 .bds_douban {
background-position: 0 -468px;
}

.bdshare-button-style0-16 .bds_baidu {
background-position: 0 -2600px;
}

.bdshare-button-style0-16 .bds_tieba {
background-position: 0 -728px;
}

.bdshare-button-style0-16 .bds_more {
color: #333;
float: left;
}

.bdshare-button-style0-16 .bds_count {
color: #333;
background: url(/static/images/sc.png) no-repeat 0 -30px;
width: 42px;
height: 16px;
padding: 0;
margin: 6px 0 0;
text-align: center;
}


.bdsharebuttonbox .bds_count {
color: #890;
background-position: -42px -30px;
}

#stb_like_gplus {
float: left;
padding: 6px 0 0 3px;
}




