{% extends 'snippet/layout.html' %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">

        <div id="qp_superlist" class="suplist_image_width_off  old-source has_drag_drop suplist_list_none suplist_post_width_standard" style="">

          <div id="suplist_left_post_controls" style="min-height: 473px;">

            <form class="mt10" action="/create" method="post">
            {{ errors|dump_errors }}

            <div id="suplist_heading" class="c">

              <h1 class="qp_create">新建文章</h1>

              <input type="submit" id="checkall" class="btn btn-small" value="立即创建">{{ xsrf_form_html() }}

            </div>

            <div class="c qp_std_promo" id="suplist_promo">

              <div class="qp_std_promo_fields">

                <fieldset>

                  <div class="qp_input has_autocap">
                    <input type="text" id="quickpost-title" name="title" class="qp_text autocap autocap_on autocap_status_headline bf_dom" placeholder="标题" title="" alt=""></div>
                </fieldset>

                <fieldset>
                  <div class="qp_input">
                    <textarea class="qp bf_dom" id="quickpost-intro" name="intro" placeholder="简介" title=""></textarea>
                  </div>

                </fieldset>
              </div>

            </div>

            <div class="thumbnail-chooser suplist_options_top_row">
              <h5>
                <label>文章缩略图</label>
              </h5>

              <div class="image-upload-fields suplist_image_show_upload bf_dom c" id="suplist_upload_fields">
                <div class="suplist_thumb_container">
                  <div class="suplist-thumb-reg suplist_image_box bf_dom">
                    <img width="16" height="16" src="http://s3-ak.buzzfed.com/static/images/public/spinners/small_on_e6e6e6.gif" id="user-loading" class="bf_dom image_loading" style="display: none;">
                    <img id="image-preview" class="qp_std_promo_fields suplist-thumb-img" style="display:none"></div>
                </div>

                <div class="suplist_thumb_container">
                  <div class="suplist-thumb-wide suplist_image_box bf_dom">
                    <img width="16" height="16" src="http://s3-ak.buzzfed.com/static/images/public/spinners/small_on_e6e6e6.gif" class="bf_dom image_loading" style="display: none;">
                    <img id="image-preview-wide" class="qp_std_promo_fields suplist-thumb-img" style="display:none"></div>
                </div>

                <div class="suplist_image_buttons">

                  <div>
                    <div class="c suplist_module_image_uploader_wrapper bf_dropdown">
                      <div class="suplist_module_image_uploader" style="height: 20px;">

                        <div id="suplist_module_thumb_uploader" class="suplist_module_image_uploader_computer bf_button bf_button_left" style="position: relative; overflow: hidden; direction: ltr;">
                          <span>上传图片</span>
                          <input id="upImg" type="file" name="file" class="file_mask" style="position: absolute; right: 0px; top: 0px; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; width: 100%; height: 100%;"></div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="c qp_std_promo" id="suplist_promo">

              <div class="qp_std_promo_fields">

                <fieldset>
                  <div class="qp_input">
                    <form method="post" action="somepage">
                    <textarea class="qp ca bf_dom" id="quickpost-content" name="content" placeholder="内容" title=""></textarea>
                  </form>
                  </div>

                </fieldset>
              </div>

            </div>
          </form>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" style=" OVERFLOW: auto;WIDTH: 590px; HEIGHT: 400px" align=center>
        <img id="img-preview" src=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block javascript %}
<script src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
        selector: "#quickpost-content",
        plugins: [
                "advlist autolink autosave link image lists charmap preview hr",
                "wordcount visualblocks visualchars fullscreen media nonbreaking",
                "contextmenu directionality template textcolor paste fullpage textcolor"
        ],

        toolbar1: "bold italic | formatselect | bullist numlist | forecolor backcolor | blockquote hr | removeformat  | link image media | undo redo | preview fullscreen ",

        menubar: false,
        toolbar_items_size: 'small',
        language:'zh_CN'
});</script>

<script type="text/javascript">
$(document).ready(function(){
  function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#img-preview').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

        $(document).on('change', '#upImg',  function() {  
           readURL(this);
           $('#myModal').modal('show')
        });
      });
</script>
{% endblock %}