{% extends 'snippet/layout.html' %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">

        <div id="qp_superlist" class="suplist_image_width_off  old-source has_drag_drop suplist_list_none suplist_post_width_standard" style="">

          <div id="suplist_left_post_controls" style="min-height: 473px;">

            <div id="suplist_heading" class="c">

              <h1 class="qp_create">新建文章</h1>

            </div>

            <div class="c qp_std_promo" id="suplist_promo">

              <div class="qp_std_promo_fields">

                <fieldset>

                  <div class="qp_input has_autocap">
                    <input data-placeholder="Headline" type="text" id="quickpost-title" tabindex="1" class="qp_text autocap autocap_on autocap_status_headline bf_dom" placeholder="标题" title="" alt=""></div>
                </fieldset>

                <fieldset>
                  <div class="qp_input">
                    <textarea data-placeholder="Description" class="qp bf_dom" tabindex="2" id="quickpost-description" placeholder="简介" title=""></textarea>
                  </div>

                </fieldset>
              </div>

            </div>

            <div class="c qp_std_promo" id="suplist_promo">

              <div class="qp_std_promo_fields">

                <fieldset>
                  <div class="qp_input">
                    <form method="post" action="somepage">
                    <textarea data-placeholder="content" class="qp ca bf_dom" tabindex="2" id="quickpost-content" placeholder="内容" title=""></textarea>
                  </form>
                  </div>

                </fieldset>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
        selector: "#quickpost-content",
        plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor"
        ],

        toolbar1: "bold italic | formatselect | bullist numlist | forecolor backcolor | blockquote hr | removeformat  | link image media | undo redo | preview fullscreen ",

        menubar: false,
        toolbar_items_size: 'small',
        language:'zh_CN'
});</script>
{% endblock %}