{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.thumb img, .thumb i, .thumb .title',  function() {
          $(this).parent().html("<p class=\"medis_func S_txt3\"><a href=\"javascript:void(0);\" action-type=\"feed_list_media_toSmall\" class=\"retract\"><em class=\"W_ico12 ico_retract\"></em>收起</a><i class=\"W_vline\">|</i><a href=\"http://t.cn/zQ7uetb\" title=\"视频-荣耀之路致敬艺术大师 家嫂33岁生日快乐！\" class=\"show_big\" target=\"_blank\"><em class=\"W_ico12 ico_showbig\"></em>视频-荣耀之路致敬艺术大...</a><i class=\"W_vline\">|</i><a action-type=\"feed_list_media_toFloat\" action-data=\"title=视频-荣耀之路致敬艺术大师 家嫂33岁生日快乐！\" href=\"javascript:void(0);\" class=\"turn_right\">弹出</a></p><embed width=\"440\" height=\"340\" src=\"http://player.youku.com/player.php/sid/XNDc1NzAyMDYw/v.swf\" allowFullScreen=\"true\" quality=\"high\" align=\"middle\" allowScriptAccess=\"always\" flashvars=\"isAutoPlay=true\" type=\"application/x-shockwave-flash\"></embed>");
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.retract',  function() {
          $(this).parent().parent().html("<img src=\"http://p3.v.iask.com/849/338/108335999_1.jpg\"><i class=\"play\"></i><div class=\"title\"><a href=\"javascript:void(0);\" class=\"a-n ot-anchor YF\">吉米鸡毛秀 约翰尼德普做客热吻连连 @铁手Desperado译制</a></div>");
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.comment',  function() {
          $(this).hide();
          $(this).parent().parent().find(".comment-editor").html("<div class=\"divider\" style=\"\"></div><div class=\"wrapper\"><a href=\"./u/{{ user_info.username }}\" class=\"\" aria-hidden=\"true\"><img src=\"{{user_info.avatar}}\"width=\"28px\" height=\"28px\" alt=\"\" class=\"avatar\"></a><div class=\"editor-box\"><div class=\"inner\"><div class=\"input\" role=\"textbox\" contenteditable=\"plaintext-only\"></div></div></div><span class=\"button-wrap\"><div role=\"button\" id=\":61.post\" class=\"gbtn post gbtn-unenable\" aria-disabled=\"true\" style=\"-webkit-user-select: none;\">发布评论</div><div role=\"button\" id=\":61.cancel\" class=\"gbtn cancel cancel-comment\" style=\"-webkit-user-select: none;\">取消</div></span></div>");
        });

        $(document).on('click', '.cancel-comment',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });

        $(document).on('click', '.post-btn',  function() {
          $(this).hide();
          $(".post-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".post-box").hide();
          $(".post-btn").show();
        });
      });
    </script>
{% endblock %}

{% block main %}
<div class="feeds">
  <div class="tabbar">
    <div class="tab ">
      <a href="/" class="tab-link">所有</a>
      <span class="tab-highlight"></span>
    </div>
    <div class="tab m-active">
      <a href="/" class="tab-link">短片</a>
      <span class="tab-highlight"></span>
    </div>
    <div class="tab">
      <a href="/" class="tab-link">电影</a>
      <span class="tab-highlight"></span>
    </div>
    <div class="tab">
      <a href="/" class="tab-link">电视剧</a>
      <span class="tab-highlight"></span>
    </div>
    <div class="tab">
      <a href="/" class="tab-link">明星</a>
      <span class="tab-highlight"></span>
    </div>
    <div class="post-btn">
      <a href="javascript:void(0)" class="btn btn-primary">分享视频</a>
    </div>
  </div>
  <div class="post-box" style="display:none">
    <form class="mt10" action="/" method="post">
    <div class="row1">
      <div class="t-avatar">
        <a href="/u/{{ user_info.username }}">
          <img src="{{ user_info.avatar }}"></a>
      </div>
      <div class="v-description">
        <textarea rows="3" class="content" placeholder="写点视频介绍吧..." name="intro"></textarea>
      </div>
    </div>
    <div class="row2">
      <div class="t-link">视频链接:</div>
      <div class="v-link">
        <input type="text" placeholder="输入或粘贴链接" name="link"></div>
    </div>

    <div class="row3">
      <div class="t-channel">选择频道:</div>
      <div class="v-channel">
        <select name="channel">
          {% for channel in channels %}
          <option> {{ channel.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row4">
      <span class="post-btn-wrap">
      <input role="button"  type="submit" id="61.post" class="gbtn post" value="分享视频">{{ xsrf_form_html() }}
      <div role="button" id=":61.cancel" class="gbtn cancel cancel-post" style="-webkit-user-select: none;">取消</div>
    </span>
    </div>
    </form>
  </div>

  {% for post in posts.list %}
  <div class="card">
    <div class="header">
      <div class="avatar">
        <a href="/u/{{ post.author_username }}">
          <img src="{{ post.author_avatar }}"></a>
      </div>
      <div class="info">
        <h3 class="username">
          <a href="/u/{{ post.author_username }}">{{ post.author_username }}</a>
        </h3>
        <span class="ct">
          <span class="channel" title="{{ post.nav_title }}">
            <a href="/{{ post.nav_name }}" class="ic">{{ post.nav_title }}</a>
          </span>
          &nbsp;-&nbsp;
          <span class="time">
            <a href="javascript:void(0)" class="it" title="{{ post.created }}">{{ post.created|pretty_date }}</a>
          </span>
        </span>
      </div>
      <div class="channel-tag">
        <div class="tag-wapper" data-topicindex="1">
          <a href="/c/{{ post.channel_id }}" target="_top" class="tag" aria-label="#{{ post.channel_name }}">#{{ post.channel_name }}</a>
        </div>
      </div>
    </div>
    <p class="intro">{{ post.intro }}</p>
    <div class="content">
      <div class="thumb">
        <img src="{{ post.video_thumb }}"> <i class="play"></i>
        <div class="title">
          <a href="javascript:void(0);" class="a-n ot-anchor YF">{{ post.video_title }}</a>
        </div>
      </div>
      <div class="bottom">
        <div id="" href="javascript:void(0);" class="plus-btn" aria-label="为此信息 +1" data-tooltip="为此信息 +1">
          <span class="btn-wrap">
            <span class="plus-icon"></span>
            <span class="plus-num">{{ post.plus }}</span>
          </span>
        </div>
        <div class="share-btn" role="button" tabindex="0" aria-label="分享此信息" data-tooltip="分享此信息">
          <span class="btn-wrap">
            <span class="share-icon"></span>
            <span class="share-num">{{ post.share }}</span>
          </span>
        </div>
        <div class="comment">
          <div class="comment-box" tabindex="0" role="button">发表评论...</div>
        </div>
      </div>
      <div class="comment-editor"></div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block right %}
<div class="right-bar">
  <div class="maylike">
    <h4 class="header">
      <span>你可能喜欢的频道</span>
    </h4>
    <div class="like-channels">

      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh4.googleusercontent.com/-bf4rSxrZmR0/AAAAAAAAAAI/AAAAAAAAADA/ycDTEuOuL5A/s120-c/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">V for Vendetta</a>
          </div>
          <div class="like">
            <a href="/">1211 人喜欢</a>
          </div>
        </div>
      </div>
      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh4.googleusercontent.com/-w5lqw_FT-JM/AAAAAAAAAAI/AAAAAAAAABw/oCXK48O0H7M/s46-c-k-no/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">皮克斯短片集</a>
          </div>
          <div class="like">
            <a href="/">219 人喜欢</a>
          </div>
        </div>
      </div>
      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh3.googleusercontent.com/-F1ARRPUL8nY/AAAAAAAAAAI/AAAAAAAAAFs/3cuRu2ZBwkg/s46-c-k-no/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">America's Funniest Ho...</a>
          </div>
          <div class="like">
            <a href="/">337 人喜欢</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}