<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>米饭.tv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">

    <!-- Loading mifan.tv -->
    <link href="/static/css/mifan.tv.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>

      <div class="row demo-row">
        <div class="span9">
          <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
              
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    <li id="logo">
                      <a href="/" class="brand">
                        米饭.tv
                        <span class="navbar-unread">1</span>
                      </a>
                    </li>
                    <li>
                      <form class="navbar-search pull-left">
                        <input type="text" class="search-query" placeholder="Search">
                      </form>
                    </li>
                    <li class="active">
                      <a href="#fakelink">
                        短片
                        <span class="navbar-unread">1</span>
                      </a>
                      <ul>
                        <li><a href="#fakelink">Element One</a></li>
                        <li>
                          <a href="#fakelink">Sub menu</a>
                          <ul>
                            <li><a href="#fakelink">Element One</a></li>
                            <li><a href="#fakelink">Element Two</a></li>
                            <li><a href="#fakelink">Element Three</a></li>
                          </ul> <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Element Three</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                      <a href="#fakelink">
                        电影
                      </a>
                    </li>
                    <li>
                      <a href="#fakelink">
                        电视剧
                      </a>
                    </li>
                    <li>
                      <a href="#fakelink">
                        明星
                      </a>
                    </li>
                  </ul>
                </div><!--/.nav -->
              
            </div>
          </div>
        </div>
      </div>

    <div class="left-bar">
      <ul class="nav nav-list">
        <li class="nav-header">List header</li>
        <li class="nav-item"><a href="#">首页</a></li>
        <li><a href="#">消息</a></li>
        <li><a href="#">收藏</a></li>
        <li class="nav-header">Another list header</li>
        <li><a href="#">稍后观看</a></li>
        <li><a href="#">关注</a></li>
        <li class="divider"></li>
        <li><a href="#">观看记录</a></li>
      </ul>
    </div>

    <div class="feeds">
      <div class="card">
        <div class="header">
          <div class="avatar">
            <a href="/"><img src="/static/images/a.gif"></a>
          </div>
          <div class="info">
            <h3 class="username"><a href="/">Moses Mason</a></h3>
            <span class="ct">
              <span class="channel" title="分享细节"><a href="/" class="ic">公开分享</a></span> 
              &nbsp;-&nbsp; 
              <span class="time"><a href="/" class="it" title="2013年6月27日 下午10:13:26">下午10:13</a></span>
            </span>
          </div>
        </div>
        <p class="intro">
          discovery回复：探索频道系列节目shark week的广告之一，效果是制作出来的，不是偶然拍到的！
        </p>
        <div class="content">
        <div class="thumb">
          <img src="http://p1.v.iask.com/349/782/108331779_1.jpg">
          <i></i>
          <div class="title"><a href="/" class="a-n ot-anchor YF">U.S. Postal Service Logging All Mail for Law Enforcement</a></div>
        </div>
        
      </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="avatar">
            <a href="/"><img src="https://lh5.googleusercontent.com/-jlJJsvoBTMc/AAAAAAAAAAI/AAAAAAAAYc8/3gaxqt-2vq8/s46-c-k-no/photo.jpg"></a>
          </div>
          <div class="info">
            <h3 class="username"><a href="/">Moses Mason</a></h3>
            <span class="ct">
              <span class="channel" title="分享细节"><a href="/" class="ic">公开分享</a></span> 
              &nbsp;-&nbsp; 
              <span class="time"><a href="/" class="it" title="2013年6月27日 下午10:13:26">下午10:13</a></span>
            </span>
          </div>
        </div>
        <p class="intro">
          YOUTUBE点击过200多万。她打扮得像小公主，说话奶声奶气的，可是一张嘴唱歌全场震惊了。6岁的Aaralyn在哥哥Izzy的鼓声下演唱自己的原创重金属摇滚歌曲《Zombie Skin》，整个一“嘶吼小辣妹”啊！
        </p>
        <div class="thumb">
          <img src="http://p3.v.iask.com/849/338/108335999_1.jpg">
          <i></i>
          <div class="title"><a href="/" class="a-n ot-anchor YF">吉米鸡毛秀 约翰尼德普做客热吻连连 @铁手Desperado译制</a></div>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="avatar">
            <a href="/"><img src="https://lh5.googleusercontent.com/-PfnIgLK9xe8/AAAAAAAAAAI/AAAAAAABJoQ/sBeWxai_8lw/s46-c-k-no/photo.jpg"></a>
          </div>
          <div class="info">
            <h3 class="username"><a href="/">Moses Mason</a></h3>
            <span class="ct">
              <span class="channel" title="分享细节"><a href="/" class="ic">公开分享</a></span> 
              &nbsp;-&nbsp; 
              <span class="time"><a href="/" class="it" title="2013年6月27日 下午10:13:26">下午10:13</a></span>
            </span>
          </div>
        </div>
        <p class="intro">
          白天鹅一家子在马路中间气定神闲地走着，一辆警车在后面跟着缓缓前行，挡住后方的来车，为他们“保驾护航”~~直到他们走到路边。超级有爱呀~~~博爱的警察蜀黍！
        </p>
        <div class="thumb">
          <img src="http://p2.v.iask.com/336/345/108037927_1.jpg">
          <i></i>
          <div class="title"><a href="/" class="a-n ot-anchor YF">棕色的时钟 (2012)</a></div>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="avatar">
            <a href="/"><img src="https://lh5.googleusercontent.com/-tlMaQEsSK2Q/AAAAAAAAAAI/AAAAAAAAETA/bZW9GRDPeMo/s120-c/photo.jpg"></a>
          </div>
          <div class="info">
            <h3 class="username"><a href="/">Moses Mason</a></h3>
            <span class="ct">
              <span class="channel" title="分享细节"><a href="/" class="ic">公开分享</a></span> 
              &nbsp;-&nbsp; 
              <span class="time"><a href="/" class="it" title="2013年6月27日 下午10:13:26">下午10:13</a></span>
            </span>
          </div>
        </div>
        <p class="intro">
          笨贼一箩筐啊啊！！不信你不想笑！做贼也是需要相当资质的。。各种逗......没有笨贼的世界是不完整的！
        </p>
        <div class="thumb">
          <img src="http://p4.v.iask.com/525/605/108268325_1.jpg">
          <i></i>
          <div class="title"><a href="/" class="a-n ot-anchor YF">【@世界流行音乐】天籁之声Aldrich《Titanium》</a></div>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="avatar">
            <a href="/"><img src="https://lh6.googleusercontent.com/-48Zg-48VYO8/AAAAAAAAAAI/AAAAAAACroA/-Y46kh5qq5w/s120-c/photo.jpg"></a>
          </div>
          <div class="info">
            <h3 class="username"><a href="/">Moses Mason</a></h3>
            <span class="ct">
              <span class="channel" title="分享细节"><a href="/" class="ic">公开分享</a></span> 
              &nbsp;-&nbsp; 
              <span class="time"><a href="/" class="it" title="2013年6月27日 下午10:13:26">下午10:13</a></span>
            </span>
          </div>
        </div>
        <p class="intro">
          美国的一个高尔夫球场因为上游水獭勤奋筑坝而惨遭水淹，球场方不得已请来了专家实施拆迁。专家先是从水草和线缆缠绕中的困境中救出企图逃窜水獭，然后将其带到野外重新放归自然，没想到遭到强拆的水獭毫不买账新家，在走出笼子后耿耿于怀地找专家算账 http://t.cn/zH2CMrX 这水獭也算个钉子户啊XD
        </p>
        <div class="thumb">
          <img src="http://p2.v.iask.com/519/85/104131040_1.jpg">
          <i></i>
          <div class="title"><a href="/" class="a-n ot-anchor YF">视频:实拍美国男子拍摄警察遭逮捕 爱犬被射杀</a></div>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <div class="avatar">
            <a href="/"><img src="https://lh3.googleusercontent.com/-880sohy5t9A/AAAAAAAAAAI/AAAAAAAAFd0/mYs6ySjpaB4/s120-c/photo.jpg"></a>
          </div>
          <div class="info">
            <h3 class="username"><a href="/">Moses Mason</a></h3>
            <span class="ct">
              <span class="channel" title="分享细节"><a href="/" class="ic">公开分享</a></span> 
              &nbsp;-&nbsp; 
              <span class="time"><a href="/" class="it" title="2013年6月27日 下午10:13:26">下午10:13</a></span>
            </span>
          </div>
        </div>
        <p class="intro">
          “致那些疯狂的人，致那些格格不入的人，和那些心怀叛逆的人；因为只有那些疯狂到自认为能改变世界的人，才真正改变了世界” 阿什顿·库彻饰演的乔布斯真是好帅 影片预计于8月16日在美上映 （@铁手Desperado 译制）
        </p>
        <div class="thumb">
          <img src="http://p1.v.iask.com/7/515/108065644_1.jpg">
          <i></i>
          <div class="title"><a href="/" class="a-n ot-anchor YF">超搞笑的终极网络音乐视频合辑</a></div>
        </div>
      </div>
    </div>

    <div class="right-bar">
      <div class="maylike">
        <h4 class="header"><span>你可能喜欢的频道</span></h4>
        <div class="channels">
          
          <div class="channel-item">
            <div class="cover">
              <a href="/">
                <img src="https://lh4.googleusercontent.com/-bf4rSxrZmR0/AAAAAAAAAAI/AAAAAAAAADA/ycDTEuOuL5A/s120-c/photo.jpg" alt="" class="cover-img">
              </a>
            </div>
            <div class="info">
              <div class="title">
                <a href="/">V for Vendetta</a>
              </div>
              <div class="like">
                <a href="/">1211 人喜欢</a>
              </div>
            </div>         
          </div>
          <div class="channel-item">
            <div class="cover">
              <a href="/">
                <img src="https://lh4.googleusercontent.com/-w5lqw_FT-JM/AAAAAAAAAAI/AAAAAAAAABw/oCXK48O0H7M/s46-c-k-no/photo.jpg" alt="" class="cover-img">
              </a>
            </div>
            <div class="info">
              <div class="title">
                <a href="/">皮克斯短片集</a>
              </div>
              <div class="like">
                <a href="/">219 人喜欢</a>
              </div>
            </div>         
          </div>
          <div class="channel-item">
            <div class="cover">
              <a href="/">
                <img src="https://lh3.googleusercontent.com/-F1ARRPUL8nY/AAAAAAAAAAI/AAAAAAAAAFs/3cuRu2ZBwkg/s46-c-k-no/photo.jpg" alt="" class="cover-img">
              </a>
            </div>
            <div class="info">
              <div class="title">
                <a href="/">America's Funniest Ho...</a>
              </div>
              <div class="like">
                <a href="/">337 人喜欢</a>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>


    

    <!-- Load JS here for greater good =============================-->
    <!--
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/bootstrap-switch.js"></script>
    <script src="/static/js/flatui-checkbox.js"></script>
    <script src="/static/js/flatui-radio.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
    <script src="/static/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="/static/js/application.js"></script>
    -->
  </body>
</html>
