{% extends 'snippet/layout.html' %}
{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">
        <article id="post-394774" class="entry-common clearfix">

          <div class="entry-header">

            <h1 class="entry-name yahei">{{ post.title }}</h1>

          </div>

          <div class="entry-meta">

            <span class="article-publisher">
              <a href="/u/{{ post.author_username }}" title="由 {{ post.author_username }} 发布" rel="author">{{ post.author_username }}</a>
            </span>
            <span class="article-pubdate">
              <time datetime="{{ post.created }}" pubdate="pubdate">{{ post.created|pretty_date }}</time>
              发布在
            </span>
            <span class="article-category">
              <a href="/{{ post.nav_name }}" title="查看 {{ post.nav_title }} 中的全部文章" rel="category tag">{{ post.nav_title }}</a>
              /
              <a href="/{{ post.channel_name }}" title="查看 {{ post.channel_title }} 中的全部文章" rel="category tag">{{ post.channel_title }}</a>
            </span>
            {%if via_title!='none'%}
            <span class="entry-url-icon">来自<a rel="nofollow" target="_blank" href="{{via_link}}">{{via_title}}</a></span>
            {%endif%}

            {%if user_info.uid==post.author_id%}
            <a href="/item/edit/{{post.id}}" title="编辑 {{ post.title }}">
              <span class="label label-default">编辑</span>
            </a>
            {%endif%}

          </div>

          <div id="share_toolbar_wrapper" style="position: static; top: 291px; z-index: 9999;">
            <div id="share_toolbar">
              <div title="本文围观次数" id="stb_article_view" class="stb_group">
                <span id="stb_article_view_icon"></span>
                <span id="stb_view_count">{{post.count}}</span>
              </div>
              <div class="stb_divide"></div>
              <div class="bdsharebuttonbox bdshare-button-style0-16" data-tag="bd_share_toolbar" data-bd-bind="1391875707839">
                <a class="bds_tsina bds_has_name" data-cmd="tsina" title="分享到新浪微博">微博</a>
                <a class="bds_qzone bds_has_name" data-cmd="qzone" title="分享到QQ空间">空间</a>
                <a class="bds_weixin bds_has_name" data-cmd="weixin" title="分享到微信">微信</a>
                <a class="bds_renren bds_has_name" data-cmd="renren" title="分享到人人网">人人</a>
                <a class="bds_mshare" style="background-position:0 -2444px !important" data-cmd="mshare" title="分享到一键分享"></a>
                <a class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                <a class="bds_baidu" data-cmd="baidu" title="分享到百度搜藏"></a>
                <a class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a class="bds_more" data-cmd="more"></a>
                <a class="bds_count" data-cmd="count" title="累计分享0次">0</a>
              </div>
              <div class="stb_divide"></div>
              <div class="stb_group_right">
                {%if item.link==''%}
                <div id="stb_like_gplus" class="stb_like_btn">
                  <div class="g-plusone" data-size="medium"></div>
                </div>
                {%else%}
                <a href="{{item.link}}" target="_blank" class="button goto-buy">立即购买</a>
                {%endif%}
              </div>
            </div>
          </div>

          <div id="entry-content" class="entry-content">{{post.content | desktop_content_process}}</div>



          <div id="ifr-article-component" class="m-t-10 clearfix">
            <div class="clearfix"></div>
            {% if tags.list %}
            <div class="entry-meta-tags">
              标签：
              {% for tag in tags.list %}
              <a href="/tag/{{ tag.tag_name }}" rel="tag">{{ tag.tag_name }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          <!-- Duoshuo Comment BEGIN -->
          <div class="ds-thread"></div>
          <!-- Duoshuo Comment END --> </article>

      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-4">
  <div class="Column2 section bf_dom ">
    <div class="section sidebar_featured_unified">
      <!--<script charset="gbk" src="http://p.tanx.com/ex?i=mm_31931873_5792707_20294282"></script>-->
      <ul id="big_stories_container" class="hot-posts">
        {% for hot in hots.list %}
        <li class="hot-post small-posts pinned bf_dom">
          <div class="bf_dom bf_cts-5-1 bf_cts">
            <a href="/p/{{ hot.id }}" target="_blank">
              <img class="bf_dom pinned-image" src="http://mrtgimg.qiniudn.com/w_{{ hot.thumb }}" alt="{{ hot.title }}"></a>
            <h3>
              <a href="/p/{{ hot.id }}" target="_blank">
                <span>
                  <font>
                    <font>{{ hot.title }}</font>
                  </font>
                </span>
              </a>
            </h3>
          </div>
          <p class="small-meta">
            <span class="generic-image icon"></span>
            <a class="username notranslate" href="/u/{{hot.author_username }}">{{ hot.author_username }}</a>
            <span class="time-image icon"></span>
            <span class="time-ago">
              <font>
                <font>{{ hot.created|pretty_date }}</font>
              </font>
            </span>
            <span class="response-image icon"></span>
            <span class="num">
              <font>
                <font>{{ hot.count }}</font>
              </font>
            </span>
            <font>
              <font>&nbsp;人看过</font>
            </font>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div id="navigation" align="center">
<a href="/?p={{hots.page.next}}"></a>
</div>
{% endblock %}

{% block javascript %}
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "{{post.title}}-@福利色",
            "bdMini": "2",
            "bdPic": "{{ post.cover }}",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>

<script type="text/javascript">
    window.___gcfg = {
        lang: 'zh-CN'
    };

    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('click', '.us_reactions', function () {
          {% if user_info==none  %}
          alert('请先登录再评价，谢谢！')
          return
          {% endif %}
            var post_id = $('.reactions').attr('data-post');
            var vote_type = $(this).attr('data-vote');
            var vote_num = $(this).find('.badge-vote-count').find('font').find('font');
            vote_badge = $(this).find('.vote-badge');

            if (vote_badge.hasClass('voted')) {
                alert("谢谢，但是好像你已经评价过了^_^")
            } else {
                $.getJSON('/vote/' + post_id + '?vote=' + vote_type, function (data) {
                    if (data.success != 0) {
                        vote_num.text(parseInt(vote_num.text()) + 1);
                        vote_badge.addClass('voted');
                    }
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).on('click', '.mt-item .video-wrapper', function () {
        if($(this).find('.video-address').length > 0) {
          return;
        }
        
        var video_embed = $(this).find('img').attr('data-embed');
        var video_iframe = $(this).find('img').attr('data-iframe');
        if (video_embed != '') {
            video_embed = '<embed wmode="transparent" type="application/x-shockwave-flash" src="'+video_embed+'" allowfullscreen="true" quality="high" flashvars="isShowRelatedVideo=false&amp;showAd=0&amp;show_pre=1&amp;show_next=1&amp;isAutoPlay=true&amp;isDebug=false&amp;UserID=&amp;winType=interior&amp;playMovie=true&amp;MMControl=false&amp;MMout=false&amp;RecordCode=1001,1002,1003,1004,1005,1006,2001,3001,3002,3003,3004,3005,3007,3008,9999" play="true" loop="true" menu="true" data-pinit="registered">'
            $(this).html(video_embed);
            return;
        }
        if (video_iframe != '') {
            video_iframe = '<iframe src="' + video_iframe + '" frameborder=0 allowfullscreen></iframe>'
            $(this).html(video_iframe);
        }
    });

    $('.play-icon').hover( function () {
      $(this).parent().find('img').css("opacity","1");
      $(this).css("cursor", "pointer");
    }, function () {
      
    });

    $('.mt-item .video-wrapper img').hover( function () {
      $(this).css("opacity","1");
      $(this).css("cursor", "pointer");
    }, function () {
      $(this).css("opacity","0.9");
      $(this).css("cursor", "default");
    });
</script>

<script src="/static/js/jquery.infinitescroll.js"></script>
<script>
 $(document).ready(function (){
    $(".hot-posts").infinitescroll({
          navSelector: "#navigation",
          nextSelector: "#navigation a",
          itemSelector: ".hot-post",
          maxPage: {{hots.page.pages}},   
      }, function(newElems) {

      });
 }); 
    </script>

    
    <script>

    </script>
{% endblock %}