{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">我的消息</h2>

      <p class="subheader">所有和我相关的消息。</p>
      <div class="create-channel">
      <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">创建频道</a>
    </div>
    </div>

    <div id="myModal"  class="modal hide modal-dialog absolute-position" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 550px; top: 119.5px;">
  <div class="modal-dialog-title modal-dialog-title-draggable" id=":21"><span class="modal-dialog-title-text">创建短片频道</span><span class="modal-dialog-title-close" data-dismiss="modal" aria-hidden="true"></span></div><div class="modal-dialog-content"><div id="zh-add-question-wrap" class="zh-add-question-form">

<form class="js-add-question-form" action="/video" method="post">
<div class="zg-section-big clearfix">


<div class="zg-form-text-input add-question-title-form" style="position: relative;">
<textarea class="zg-editor-input zu-seamless-input-origin-element" title="输入频道名称" id="zh-question-suggest-title-content" aria-label="输入频道名称" placeholder="输入频道名称" name="name" aria-haspopup="false" autocomplete="off" style="white-space: pre; height: 22px; min-height: 22px;" role="combobox" aria-autocomplete="list" aria-activedescendant="" type="text"></textarea>
</div>

<div id="zh-question-suggest-ac-wrap" class="question-suggest-ac-wrap"></div>
</div>
<div class="zg-section-big">

<div class="add-question-section-title">



频道介绍：
<span id="zh-question-form-detail-err"></span>
</div>
<div id="zh-question-suggest-detail-container" class="zm-editable-status-editing">
<div class="zm-editable-editor-wrap no-toolbar" style=""><div class="zm-editable-editor-outer"><div class="zm-editable-editor-field-wrap"><textarea name="intro" placeholder="写点频道介绍吧..." id="mock:22" class="zm-editable-editor-field-element editable" g_editable="true" contenteditable="true" style=""></textarea></div></div></div>
</div>
</div>

<div class="zm-command">

<a href="javascript:;" name="cancel" class="zm-command-cancel" data-dismiss="modal" aria-hidden="true">取消</a>
<button class="btn btn-primary" type="submit" id="61.post" >创建频道</button>
<input type="hidden" name="subnav_name" value="{{ active_tab }}">
          {{ xsrf_form_html() }}

</div>
</form>
</div></div></div>

    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form class="mt10" action="/video" method="post">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="myModalLabel">创建短片频道</h5>
  </div>
  <div class="modal-body">
      <div class="row1">
        <div class="t-link">频道名称:</div>
        <div class="v-link">
          <input type="text" placeholder="输入频道名称" name="name"></div>
      </div>
      <div class="row2">
        <div class="t-link">频道介绍:</div>
        <div class="v-description">
          <textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="写点频道介绍吧..." name="intro"></textarea>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button class="btn btn-primary" type="submit" id="61.post" >创建频道</button>
    <input type="hidden" name="subnav_name" value="{{ active_tab }}">
          {{ xsrf_form_html() }}
  </div>
  </form>
</div>

  {% set tab_bar = [
      ('/', 'all', '所有'),
      ('/?tab=comment', 'comment', '回复我的'),
      ('/?tab=mention', 'mention', '提到我的'),                       
  ] -%}
  {% set active_tab = active_tab|default('index') -%}
  <div class="tabbar">
    {% for href, id, caption in tab_bar %}
    <div class="tab {% if id == active_tab %}m-active{% endif %}" >
      <a href="{{ href|e }}" class="tab-link">{{ caption|e }}</a>
      <span class="tab-highlight"></span>
    </div>
    {% endfor %}
  </div>
  </div>

  <div id="timeline">
    <div class="stream-container " data-cursor="1381275393829:20">
      <div class="stream discover-stream">
        <ol class="stream-items js-navigable-stream" id="stream-items-id">
          {% for notification in notifications.list %}
          <li class="js-stream-item stream-item stream-item" data-item-id="56833" id="stream-item-user-56833" data-item-type="user">

            <div class="account   js-actionable-user js-profile-popup-actionable " data-screen-name="isaac" data-user-id="56833" data-feedback-token="133">
              <div class="user-actions btn-group not-following  " data-user-id="7948282" data-screen-name="zhengyun" data-name="zhengyun" data-protected="false">
                {% if notification.status == 0 %}
  
                <div role="button" id="btn-{{ notification.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow followed" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ notification.id }}">
                  <span class="follow-text" dir="ltr">查看</span>
                </div>

            {% else %}
                <div role="button" id="btn-{{ notification.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ notification.id }}">
                  <span class="follow-text" dir="ltr">已读</span>
                </div>
                {% endif %}
              </div>

              <div class="content">
                <div class="stream-item-header">
                  <a class="account-group js-user-profile-link" href="/c/{{ notification.id }}">
                    <img class="avatar js-action-profile-avatar " src="/static/avatar/user/b_{{ notification.avatar or 'default.png' }}?t={{ gen_random() }}" alt="{{ notification.involved_post_video_title }}"> <span class="username js-action-profile-name">{{ notification.trigger_username }}</span><span>‏回复了你的分享</span><strong class="fullname js-action-profile-name">{{ notification.involved_post_video_title }}</strong>
                    
                    
                  </a>
                </div>
                <p class="bio ">{{ notification.content|content_process  }}</p>

                <p class="metadata">
                  {{ notification.occurrence_time|pretty_date }}
                </p>

              </div>
            </div>

          </li>
          {% endfor %}
        </ol>
        <div class="stream-footer ">
          <div class="timeline-end has-items has-more-items">
            <div class="stream-end">
              <div class="stream-end-inner "> <i class="bird-etched"></i>

                <p class="empty-text">抱歉，我们暂时已经没有值得推荐的账号了。我们正在寻找更多的推荐，请稍后再来看看吧!</p>

                <p>
                  <button type="button" class="btn-link back-to-top hidden" style="display: inline-block;">回到顶部 ↑</button>
                </p>
              </div>
            </div>
            <div class="stream-loading">
              <div class="stream-end-inner">
                <span class="spinner" title="正在载入..."></span>
              </div>
            </div>
          </div>
        </div>
        <ol class="hidden-replies-container"></ol>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block right %}

{% endblock %}