{% extends 'snippet/layout.html' %}
{% block title %}
<title>每日图卦</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/dropzone-3.8.4/downloads/css/dropzone.css">
{% endblock %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">
        <ul class="std-posts" id="page_flow">
          <a href="" id="ooxx-upload" class="btn btn-lg btn-default btn-block" data-toggle="modal" data-target="#editor-modal">上传 OX 图</a>
          {% for std in stds.list %}
          <li id="post-{{ std.id }}" class="ox-post std-post post track bf_dom first  has-like-button bf_cts-1-1 bf_cts  scrolled_past">
            <div class="stick-container">
              <div class="stick-row stickem-container">
                <div class="stick-content">
                  <article>
                    <header>
                      <hgroup>
                        <h2 class="" style="">
                          <a href="/p/{{ std.id }}" target="_blank">{{ std.title }}</a>
                        </h2>
                      </hgroup>
                    </header>

                    <p class="small-meta">
                      <span class="generic-image icon"></span>
                      <a class="username notranslate" href="/u/{{ std.author_username }}">{{ std.author_username }}</a>
                      <span class="time-image icon"></span>
                      <span class="time-ago">{{ std.created|pretty_date }}</span>
                      <span class="response-image icon"></span>
                      <span class="num">{{ std.count }}</span> <font><font>&nbsp;个评论</font></font> 
                      <span class="oo-image">OO</span>
                      <span class="num">{{ std.count }}</span> <font><font>&nbsp;</font></font> 
                      <span class="xx-image">XX</span>
                      <span class="num">{{ std.count }}</span> <font><font>&nbsp;</font></font> 
                    </p>

                    <a href="/p/{{ std.id }}" target="_blank" class="std-post-cover"><img src="{{ std.thumb }}" alt="{{std.title}}" title="{{std.title}}"></a>
                    <p class="description "> 
                {{ std.intro }}
              </p>

                  </article>
                </div>

                <div class="stick-aside stickem badge-entry-sticky-shadow sticky-action">

                  <div class="badge-entry-sticky" style="position: relative; z-index: 1;">
                    <ul class="badge-item-vote-container vertical-vote  ">
                      <li>
                        <a class="badge-item-vote-up up" href="javascript:void(0);">oo</a>
                      </li>
                      <li>
                        <a class="badge-item-vote-down down" href="javascript:void(0);">xx</a>
                      </li>
                    </ul>
                    <ul class="others">
                      <li>
                        <a class="comment badge-evt badge-item-comment" target="_blank" href="/gag/aVOVboy#comment" data-evt="EntryAction,CommentButtonClicked,ListPage">Comment</a>
                      </li>
                    </ul>
                  </div>
                </div>

                </div>
              </div>
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </div>
    </div>

  
  <div class="col-xs-12 col-md-4">
    <div class="Column2 section bf_dom ">
      <div class="section sidebar_featured_unified">
        <div id="big_stories_header" class="header">

          <h1>
            <font><font class="">编辑推荐</font></font> 
          </h1>
        </div>
        <ul id="big_stories_container" class="hot-posts">
          {% for hot in hots.list %}
          <li class="hot-post small-posts pinned bf_dom">
            <div class="bf_dom bf_cts-5-1 bf_cts">
              <a href="/p/{{ hot.id }}" target="_blank">
                <img class="bf_dom pinned-image" src="http://mrtgimg.qiniudn.com/n_{{ hot.thumb }}-hot" alt="{{ hot.title }}"></a>
              <h3>
                <a href="/p/{{ hot.id }}" target="_blank">
                  <span>
                    <font>
                      <font>{{ hot.title }}</font>
                    </font>
                  </span>
                </a>
              </h3>
            </div>
            <p class="small-meta">
              <span class="generic-image icon"></span>
              <a class="username notranslate" href="/u/{{hot.author_username }}">{{ hot.author_username }}</a>
              <span class="time-image icon"></span>
              <span class="time-ago">
                <font>
                  <font>{{ hot.created|pretty_date }}</font>
                </font>
              </span>
              <span class="response-image icon"></span>
              <span class="num">
                <font>
                  <font>{{ hot.count }}</font>
                </font>
              </span>
              <font>
                <font>&nbsp;人看过</font>
              </font>
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>


  <div class="modal" id="editor-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">上传图片</h4>
      </div>
      <div class="modal-body" align=center>

            <input type="text" class="form-control" id="image-title" placeholder="标题（可选）">
            <form action="http://up.qiniu.com/" class="dropzone" id="image-upload">
              <input name="token" type="hidden" value="{{up_token}}">
            </form>
            <textarea class="form-control" id="image-intro" placeholder="图片介绍（可选）..."></textarea>
            <input type="hidden" class="form-control" id="image-address" placeholder="输入图片地址">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="editor-btn-ok" >确定</button>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

{% block javascript %}
  <script src="/static/js/jquery.infinitescroll.js"></script>
  <script src="/static/jQuery-Stickem/jquery.stickem.js"></script>
  <script>
 $(document).ready(function() {
      $('.stick-container').stickem();
    });
    </script>

    <script src="/static/dropzone-3.8.4/downloads/dropzone.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    Dropzone.options.imageUpload = {
        maxFiles: 1,
        maxFilesize: 5,
        addRemoveLinks: true,
        acceptedFiles: "image/*",
        init: function () {
            var isExceeded = false;
            this.on("success", function (file, responseText) {
                $('#image-address').val('http://mrtgimg.qiniudn.com/' + responseText['hash']);
            });
            this.on("removedfile", function (file) {
              if (isExceeded) {

              }
              else {
                $('#image-address').val('');
                this.options.maxFiles = 1;
              }
              isExceeded = false;      
            });
            this.on("maxfilesexceeded", function (file) {
                isExceeded = true;
                this.removeFile(file);
                alert('请先移除已上传的图片！');
            });
            var _this = this;
            $(document).on('click', '#editor-btn-ok, #editor-modal .close', function () {
              _this.removeAllFiles();
            });
        }     
    };


    $(document).on('click', '#editor-btn-ok', function () {        
                var img_title = $('#image-title').val();
                var img_address = $('#image-address').val();
                var img_intro = $('#image-intro').val();                
  
                if (img_title == '') {
                    alert('图片标题不能为空！');
                    return;
                }
                if (img_address == '') {
                    alert('图片地址不能为空！');
                    return;
                }

                $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
               dataType: "json",
              url: "/ooxx/add",
              data: JSON.stringify({title: img_title, img: img_address, intro: img_intro}), 
              success: function (msg) {
                window.location.reload();
              },
              error: function (msg) {
                alert("error");
              }
            }); 

                $('#image-title').val('');
                $('#image-address').val('');
                $('#image-intro').val('');

                $('#editor-modal').modal('hide');  
        });
})
</script>
  {% endblock %}