{% extends 'snippet/layout-m.html' %}
{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block main %}
<article class="entry-common clearfix">

  <div class="entry-header">

    <h1 class="entry-name yahei">{{ post.title }}</h1>

  </div>

  <div class="entry-meta">

    <span class="article-publisher">
      <a href="/u/{{ post.author_username }}" title="由 {{ post.author_username }} 发布" rel="author">{{ post.author_username }}</a>
    </span>
    <span class="article-pubdate">
      <time datetime="{{ post.created }}" pubdate="pubdate">{{ post.created|pretty_date }}</time>
      发布在
    </span>
    <span class="article-category">
      <a href="/{{ post.nav_name }}" title="查看 {{ post.nav_title }} 中的全部文章" rel="category tag">{{ post.nav_title }}</a>
      /
      <a href="/{{ post.channel_name }}" title="查看 {{ post.channel_title }} 中的全部文章" rel="category tag">{{ post.channel_title }}</a>
    </span>

  </div>

  <div id="entry-content" class="entry-content">{{ post.content | mobile_content_process }}</div>

</article>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
        $(document).ready(function(){
          $('iframe').height(document.body.clientWidth/1.7);
      
        });
    </script>

<script type="text/javascript">
    $(document).on('click', '.mt-item .video-wrapper', function () {
        if($(this).find('.video-address').length > 0) {
          return;
        }
        
        var video_embed = $(this).find('img').attr('data-embed');
        var video_iframe = $(this).find('img').attr('data-iframe');
        if (video_iframe != '') {
            video_iframe = '<iframe src="' + video_iframe + '" frameborder=0 allowfullscreen></iframe>'
            $(this).html(video_iframe);
            $('iframe').height(document.body.clientWidth/1.7);
            return;
        }
        if (video_embed != '') {
            video_embed = '<embed src="' + video_embed + '" allowFullScreen="true" quality="high" autostart="0" align="middle" allowScriptAccess="always" flashvars="isAutoPlay=true" type="application/x-shockwave-flash"></embed>';
            $(this).html(video_embed);
        } 
    });

    $('.play-icon').hover( function () {
      $(this).parent().find('img').css("opacity","1");
      $(this).css("cursor", "pointer");
    }, function () {
      
    });

    $('.mt-item .video-wrapper img').hover( function () {
      $(this).css("opacity","1");
      $(this).css("cursor", "pointer");
    }, function () {
      $(this).css("opacity","0.9");
      $(this).css("cursor", "default");
    });
</script>
{% endblock %}