{% extends 'snippet/layout.html' %}
{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">
        <article id="post-394774" class="entry-common clearfix">

          <div class="entry-header">

            <h1 class="entry-name yahei">{{ post.title }}</h1>

          </div>

          <div class="entry-meta">

            <span class="article-publisher">
              <a href="/u/{{ post.author_username }}" title="由 {{ post.author_username }} 发布" rel="author">{{ post.author_username }}</a>
            </span>
            <span class="article-pubdate">
              <time datetime="{{ post.created }}" pubdate="pubdate">{{ post.created|pretty_date }}</time>
              发布在
            </span>
            <span class="article-category">
              <a href="/{{ post.nav_name }}" title="查看 {{ post.nav_title }} 中的全部文章" rel="category tag">{{ post.nav_title }}</a>
              /
              <a href="/{{ post.channel_name }}" title="查看 {{ post.channel_title }} 中的全部文章" rel="category tag">{{ post.channel_title }}</a>
            </span>

            <a href="/edit/{{post.id}}" title="编辑 {{ post.title }}">
              <span class="label label-default">编辑</span>
            </a>

          </div>

          <div id="share_toolbar_wrapper" style="position: static; top: 291px; z-index: 9999;">
            <div id="share_toolbar">
              <div title="本文围观次数" id="stb_article_view" class="stb_group">
                <span id="stb_article_view_icon"></span>
                <span id="stb_view_count">2,340</span>
              </div>
              <div class="stb_divide"></div>
              <div class="bdsharebuttonbox bdshare-button-style0-16" data-tag="bd_share_toolbar" data-bd-bind="1391875707839" data="{'pic':'/static/thumb/w_{{ post.cover }}'}">
                <a class="bds_tsina bds_has_name" data-cmd="tsina" title="分享到新浪微博">微博</a>
                <a class="bds_qzone bds_has_name" data-cmd="qzone" title="分享到QQ空间">空间</a>
                <a class="bds_weixin bds_has_name" data-cmd="weixin" title="分享到微信">微信</a>
                <a class="bds_renren bds_has_name" data-cmd="renren" title="分享到人人网">人人</a>
                <a class="bds_mshare" style="background-position:0 -2444px !important" data-cmd="mshare" title="分享到一键分享"></a>
                <a class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                <a class="bds_baidu" data-cmd="baidu" title="分享到百度搜藏"></a>
                <a class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
                <a class="bds_more" data-cmd="more"></a>
                <a class="bds_count" data-cmd="count" title="累计分享12次">12</a>
              </div>
              <div class="stb_divide"></div>
              <div class="stb_group_right">
                <div id="stb_like_gplus" class="stb_like_btn">
                  <div class="g-plusone" data-size="medium"></div>
                </div>
              </div>
            </div>
          </div>

          <div id="entry-content" class="entry-content">{{ post.content|content_process }}</div>

          <div id="social-actions" class="section SocialActions social-actions social-actions-hybrid">

            <div class="social-actions-buttons c">

              <div id="badge_voting" class="social-buttons badge-voting left  ">

                <div id="reaction_1_love_hate" class="reactions_one badge_heart">

                  <div id="reactions-normal">

                    <h5> <font><font>这篇文章你觉得怎么样？</font></font> 
                    </h5>

                    <ul class="reactions" data-post="{{ post.id }}">
                      <li id="love_button" class="love us_reactions" data-vote="love">
                        <a href="javascript:;" class="vote-love_or_hate vote-badge">
                          <span class="heart vote-love_or_hate"></span>
                        </a>

                        <span class="badge-vote-count" id="love-reaction-count">
                          <font><font>{{vote.love}}</font></font> 
                        </span>
                      </li>

                      <li id="omg_button" class="omg us_reactions" data-vote="omg">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>神</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="14-reaction-count">
                            <font>
                              <font>{{vote.omg}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="gds_button" class="gds us_reactions" data-vote="gds">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>高大上</font>
                            </font>
                          </a>
                          <span class="badge-vote-count zero" id="19-reaction-count">
                            <font>
                              <font>{{vote.gds}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="geili_button" class="geili us_reactions" data-vote="geili">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>给力</font>
                            </font>
                          </a>
                          <span class="badge-vote-count zero" id="13-reaction-count">
                            <font>
                              <font>{{vote.geili}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="lol_button" class="lol us_reactions" data-vote="lol">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>搞笑</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="12-reaction-count">
                            <font>
                              <font>{{vote.lol}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="cute_button" class="cute us_reactions" data-vote="cute">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>萌</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="16-reaction-count">
                            <font>
                              <font>{{vote.cute}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="zzs_button" class="zzs   us_reactions" data-vote="zzs">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>涨姿势</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="27-reaction-count">
                            <font>
                              <font>{{vote.zzs}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="hehe_button" class="hehe   us_reactions" data-vote="hehe">

                        <span class="reaction_normal">
                          <a rhref="javascript:;" class="vote-badge ">
                            <font>
                              <font>呵呵</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="47-reaction-count">
                            <font>
                              <font>{{vote.hehe}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="jiong_button" class="jiong   us_reactions" data-vote="jiong">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>囧</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="49-reaction-count">
                            <font>
                              <font>{{vote.jiong}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="kengdie_button" class="kengdie   us_reactions" data-vote="kengdie">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge  longer">
                            <font>
                              <font>坑爹</font>
                            </font>
                          </a>
                          <span class="badge-vote-count zero" id="17-reaction-count">
                            <font>
                              <font>{{vote.kengdie}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="beiju_button" class="beiju   us_reactions" data-vote="beiju">

                        <span class="reaction_normal">
                          <a href="javascript:;" class="vote-badge ">
                            <font>
                              <font>杯具</font>
                            </font>
                          </a>
                          <span class="badge-vote-count" id="27-reaction-count">
                            <font>
                              <font>{{vote.beiju}}</font>
                            </font>
                          </span>
                        </span>

                      </li>

                      <li id="hate_button" class="hate us_reactions" data-vote="hate">
                        <a href="javascript:;" class="vote-love_or_hate vote-badge">
                          <span class="heart vote-love_or_hate"></span>
                        </a>

                        <span class="badge-vote-count zero" id="hate-reaction-count">
                          <font>
                            <font>{{vote.hate}}</font>
                          </font>
                        </span>
                      </li>

                    </ul>

                  </div>
                </div>

              </div>

            </div>

          </div>

          <div id="ifr-article-component" class="m-t-10 clearfix">
            <div class="clearfix"></div>
            {% if tags.list %}
            <div class="entry-meta-tags">
              标签：
              {% for tag in tags.list %}
              <a href="/tag/{{ tag.tag_name }}" rel="tag">{{ tag.tag_name }}</a>
              {% endfor %}
            </div>
            {% endif %}
            <div class="author-profile weixin-qrcode clearfix">

              <div class="author-profile-face clearfix">
                <img class="gravatar" src="{{ post.author_avatar }}" width="50" height="50"></div>

              <div class="author-profile-text">
                <h2 class="yahei">
                  <a href="http://www.ifanr.com/author/hezongcheng">{{ post.author_username }}</a>
                </h2>
                <p>{{ post.author_intro }}</p>
              </div>
            </div>

          </div>

          <!-- Duoshuo Comment BEGIN -->
          <div class="ds-thread"></div>
          <!-- Duoshuo Comment END --> </article>

      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-4">
  <div class="Column2 section bf_dom ">
    <div class="section sidebar_featured_unified">

      <ul id="big_stories_container">
        {% for hot in hots.list %}
        <li class="small-posts pinned bf_dom">
          <div class="bf_dom bf_cts-5-1 bf_cts">
            <a href="/p/{{ hot.id }}">
              <img class="bf_dom pinned-image" src="/static/thumb/w_{{ hot.cover }}" alt="{{ hot.title }}"></a>
            <h3>
              <a href="/p/{{ hot.id }}">
                <span>
                  <font>
                    <font>{{ hot.title }}</font>
                  </font>
                </span>
              </a>
            </h3>
          </div>
          <p class="small-meta">
            <span class="generic-image icon"></span>
            <a class="username notranslate" href="#">{{ hot.author_username }}</a>
            <span class="time-image icon"></span>
            <span class="time-ago">
              <font>
                <font>{{ hot.created|pretty_date }}</font>
              </font>
            </span>
            <a href="#" class="responses">
              <span class="response-image icon"></span>
              <span class="num">
                <font>
                  <font>{{ hot.comment_count }}</font>
                </font>
              </span>
              <font>
                <font>回应</font>
              </font>
            </a>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"http://meiritugua.com/static/thumb/w_{{ post.cover }}","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

<script type="text/javascript">
  window.___gcfg = {lang: 'zh-CN'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.us_reactions',  function() {
                var post_id = $('.reactions').attr('data-post');
                var vote_type = $(this).attr('data-vote');
                var vote_num = $(this).find('.badge-vote-count').find('font').find('font');
                vote_badge = $(this).find('.vote-badge');

                if(vote_badge.hasClass('voted')) {
                  alert("谢谢，但是好像你已经评价过了^_^")
                }
                else {
                  $.getJSON('/vote/'+post_id+'?vote='+vote_type, function(data) {
                            if(data.success!=0) {
                                vote_num.text(parseInt(vote_num.text())+1);
                                vote_badge.addClass('voted');
                            }
                        }); 
                }  
            });        
        });
    </script>
{% endblock %}