{% extends 'snippet/layout-m.html' %}
{% block title %}
<title>{{post.title}}</title>
{% endblock %}

{% block main %}
<div class="col-xs-12 col-md-8">
  <div class="Column1 section bf_dom">
    <div class="section">
      <div class="content">
        <article id="post-394774" class="entry-common clearfix">

          <div class="entry-header">

            <h1 class="entry-name yahei">{{ post.title }}</h1>

          </div>

          <div class="entry-meta">

            <span class="article-publisher">
              <a href="/u/{{ post.author_username }}" title="由 {{ post.author_username }} 发布" rel="author">{{ post.author_username }}</a>
            </span>
            <span class="article-pubdate">
              <time datetime="{{ post.created }}" pubdate="pubdate">{{ post.created|pretty_date }}</time>
              发布在
            </span>
            <span class="article-category">
              <a href="/{{ post.nav_name }}" title="查看 {{ post.nav_title }} 中的全部文章" rel="category tag">{{ post.nav_title }}</a>
              /
              <a href="/{{ post.channel_name }}" title="查看 {{ post.channel_title }} 中的全部文章" rel="category tag">{{ post.channel_title }}</a>
            </span>

          </div>

          <div id="entry-content" class="entry-content">{{ post.content|content_process }}</div>

          <div id="ifr-article-component" class="m-t-10 clearfix">
            <div class="clearfix"></div>
            {% if tags.list %}
            <div class="entry-meta-tags">
              标签：
              {% for tag in tags.list %}
              <a href="/tag/{{ tag.tag_name }}" rel="tag">{{ tag.tag_name }}</a>
              {% endfor %}
            </div>
            {% endif %}
            <div class="author-profile weixin-qrcode clearfix">

              <div class="author-profile-face clearfix">
                <img class="gravatar" src="{{ post.author_avatar }}" width="50" height="50"></div>

              <div class="author-profile-text">
                <h2 class="yahei">
                  <a href="/u/{{ post.author_username }}">{{ post.author_username }}</a>
                </h2>
                <p>{{ post.author_intro }}</p>
              </div>
            </div>

          </div>

          </article>

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block javascript %}

{% endblock %}