{% extends 'snippet/layout2.html' %}
{% block title %}
<title>福利色</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/dropzone-3.8.4/downloads/css/dropzone.css">
{% endblock %}

{% block main %}
<div class="col-xs-12 col-md-12">
  <div class="section bf_dom">
    <div class="section">
      <div class="content">
      	<div id="mainBbs"> <div class="bbsword">色区建设中<br>精彩马上来</div> <div class="bbs"> 
<img src="http://www.edaxiang.com/themes/dx/images/bbs.jpg" data-pinit="registered"></div> </div>

        

          </div>

        </div>
      </div>
    </div>
  {% endblock %}

{% block javascript %}
  <script src="/static/js/jquery.infinitescroll.js"></script>
{% endblock %}