{% extends 'snippet/layout.html' %}

{% block javascript %}

{% endblock %}

{% block main %}
<div class="forum">
{% set tab_bar = [
      ('/', 'topic', '所有话题'),                  
        ('/?tab=interest', 'interest', '兴趣小组'),
        ('/?tab=follows', 'follows', '关注的人'),
        ('#hotnav', 'hotnav', '热门导航'),                  
  ] -%}
  {% set active_tab = active_tab|default('index') -%}
  <div class="tabbar">
    {% for href, id, caption in tab_bar %}
    <div {% if id == active_tab %} class="tab m-active"{% else %} class="tab" {% endif %}>
      <a href="{{ href|e }}" class="tab-link">{{ caption|e }}</a>
      <span class="tab-highlight"></span>
    </div>
    {% endfor %}
    <div class="post-btn">
      <a href="/" class="btn btn-primary">发起话题</a>
    </div>
  </div>

<div class="topics container-box deprecated-mt10">
    
    {% for topic in topics.list %}
    <div class="topic-item">
        <a href="/u/{{ topic.author_username }}">
            <img src="/static/avatar/user/m_{{ topic.author_avatar or 'default.png' }}" alt="" class="avatar" />
        </a>
        <div class="main">
            <h3 class="title">
                <a href="/t/{{ topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.title }}</a>
            </h3>
            <div class="meta">
                <span class="username">
                    <a href="/u/{{ topic.author_username or topic.author_uid }}">{{ topic.author_username }}</a>
                </span>
                • 
                        {% if topic.last_replied_time %}
                <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                •
                <span class="last-reply-username">
                    最后回复来自
                    <a href="/u/{{ topic.last_replied_username or topic.last_replied_uid }}"> <strong>{{ topic.last_replied_username }}</strong>
                    </a>
                </span>
                {% else %}
                <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                {% endif %}
            </div>
        </div>
        {% if topic.reply_count %}
        <div class="count">
            <a href="/t/{{ topic.id }}#reply{{ topic.reply_count or 0 }}">{{ topic.reply_count or 0 }}</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <div class="pagination">{{ topics.page|pagination(request.uri) }}</div>
    {% if topics.page.total == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20">{{ notice_text }}</div>
        </div>
    {% endif %}
</div>
</div>

{% endblock %}

{% block right %}
{% endblock %}