{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(this).hide();
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

        <h2 id="content-main-heading">
          推荐频道
        </h2>

        <p class="subheader">根据你关注的信息推荐给你的短片频道。</p>
    </div>

      <form class="js-search-form content-searchbar" action="/who_to_follow/suggestions/search" method="GET">
        <table class="flex-table">
          <tbody>
            <tr>
              <td class="flex-table-primary">
                <div class="flex-table-form">
                  <input class="flex-table-input search-query" type="text" name="q" placeholder="搜索你感兴趣的频道">
                </div>
              </td>
              <td class="flex-table-secondary">
                <button class="btn flex-table-btn js-submit" type="submit">搜索</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
  </div>

  <div id="timeline">
        <div class="stream-container " data-cursor="1381275393829:20">
          <div class="stream discover-stream">
            <ol class="stream-items js-navigable-stream" id="stream-items-id">  
              {% for channel in channels.list %}
  <li class="js-stream-item stream-item stream-item" data-item-id="56833" id="stream-item-user-56833" data-item-type="user">
      
    <div class="account   js-actionable-user js-profile-popup-actionable " data-screen-name="isaac" data-user-id="56833" data-feedback-token="133">
      <div class="user-actions btn-group not-following  " data-user-id="7948282" data-screen-name="zhengyun" data-name="zhengyun" data-protected="false">
        {% if channel.follow_user_id %}
            {% if channel.follow_user_id==channel.author_id %}
            <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b followed disabled" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
              <input type="hidden" name="channel_id" value="{{ channel.id }}">
              <span class="follow-text" dir="ltr">已关注</span>
            </div>
            {% else %}
            <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow followed" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
              <input type="hidden" name="channel_id" value="{{ channel.id }}">
              <span class="follow-text" dir="ltr">取消关注</span>
            </div>
            {% endif %}
            {% else %}
            <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
              <input type="hidden" name="channel_id" value="{{ channel.id }}">
              <span class="follow-text" dir="ltr">关注</span>
            </div>
            {% endif %}


     
     
     </div>
        
    


  <div class="content">
        <div class="stream-item-header">
          <a class="account-group js-user-profile-link" href="/c/{{ channel.id }}">
            <img class="avatar js-action-profile-avatar " src="/static/avatar/channel/b_{{ channel.avatar or 'default.png' }}?t={{ gen_random() }}" alt="{{ channel.name }}">
            <strong class="fullname js-action-profile-name">{{ channel.name }}</strong>
            <span>‏</span>
              <span class="username js-action-profile-name">@{{ channel.author_username }}</span>
                    </a>
        </div>
          <p class="bio ">
              {{ channel.intro }}</p>
    
        
          <p class="metadata">    Followed by <a class="pretty-link user-profile-link js-user-profile-link" data-user-id="5304602" href="/linjunhalida" title="linjunhalida">linjunhalida</a>,
  <a class="pretty-link user-profile-link js-user-profile-link" data-user-id="1166761" href="/DashHuang" title="Dash">Dash</a> and
  <a class="pretty-link user-profile-link js-user-profile-link" data-user-id="754333" href="/hidecloud" title="潜云">潜云</a>.
  </p>
    
    
        
    
        
      </div>
    </div>
    
    </li>
  {% endfor %}
</ol>
              <div class="stream-footer ">
          <div class="timeline-end has-items has-more-items">
            <div class="stream-end">
      <div class="stream-end-inner ">
            <i class="bird-etched"></i>
    
        <p class="empty-text">
                抱歉，我们暂时已经没有值得推荐的账号了。我们正在寻找更多的推荐，请稍后再来看看吧!
        </p>
    
    
              <p><button type="button" class="btn-link back-to-top hidden" style="display: inline-block;">回到顶部 ↑</button></p>
      </div>
    </div>
    <div class="stream-loading">
      <div class="stream-end-inner">
        <span class="spinner" title="正在载入..."></span>
      </div>
    </div>
  </div>
        </div>
        <div class="stream-fail-container">
            <div class="js-stream-whale-end stream-whale-end stream-placeholder centered-placeholder">
      <div class="stream-end-inner">
        <h2 class="title">加载推文似乎需要更多时间。</h2>
        <p>
          Twitter 可能暂时超载啦。<a href="#" class="try-again-after-whale">再试一次</a>或访问 <a target="_blank" href="http://status.twitter.com">Twitter 状态</a>以获取更多信息。
        </p>
      </div>
    </div></div>
      <ol class="hidden-replies-container"></ol>
            <div class="stream-autoplay-marker">
              <i class="arrow"></i>
              <span class="text"></span>
            </div>
          </div>
        </div>
        </div>

</div>
{% endblock %}

{% block right %}
<div class="right-bar">
  <div class="maylike">
    <h4 class="header">
      <span>你可能喜欢的频道</span>
    </h4>
    <div class="like-channels">

      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh4.googleusercontent.com/-bf4rSxrZmR0/AAAAAAAAAAI/AAAAAAAAADA/ycDTEuOuL5A/s120-c/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">V for Vendetta</a>
          </div>
          <div class="like">
            <a href="/">1211 人喜欢</a>
          </div>
        </div>
      </div>
      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh4.googleusercontent.com/-w5lqw_FT-JM/AAAAAAAAAAI/AAAAAAAAABw/oCXK48O0H7M/s46-c-k-no/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">皮克斯短片集</a>
          </div>
          <div class="like">
            <a href="/">219 人喜欢</a>
          </div>
        </div>
      </div>
      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh3.googleusercontent.com/-F1ARRPUL8nY/AAAAAAAAAAI/AAAAAAAAAFs/3cuRu2ZBwkg/s46-c-k-no/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">America's Funniest</a>
          </div>
          <div class="like">
            <a href="/">337 人喜欢</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}