{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(this).hide();
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">
  <div class="taglist-holder">
    <ul class="taglist clearfix">
      {% set active_tab = active_tab|default('all') -%}
      <li {% if active_tab == 'all' %} class="selected" {% endif %}>
        <a href="/video">所有</a>
      </li>
      {% for subnav in subnavs %}
      <li {% if subnav.name == active_tab %} class="selected" {% endif %}>
        <a href="/video?tab={{ subnav.name }}">{{ subnav.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="create-channel">
      <a href="javascript:void(0)" class="btn btn-primary">创建频道</a>
    </div>
  </div>

  <div class="channel-box" style="display:none">
    <form class="mt10" action="/video" method="post">
      <div class="row1">
        <div class="t-avatar">
          <a href="/u/{{ user_info.username }}">
            <img src="/static/avatar/user/m_{{ user_info.avatar or 'default.png' }}"></a>
        </div>
        <div class="v-description">
          <textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="写点频道介绍吧..." name="intro"></textarea>
        </div>
      </div>
      <div class="row2">
        <div class="t-link">频道名称:</div>
        <div class="v-link">
          <input type="text" placeholder="输入频道名称" name="name"></div>
      </div>
      <div class="row4">
        <span class="post-btn-wrap">
          <input role="button"  type="submit" id="61.post" class="gbtn post" value="创建频道">
          {{ xsrf_form_html() }}
          <div role="button" id=":61.cancel" class="gbtn cancel cancel-post" style="-webkit-user-select: none;">取消</div>
        </span>
      </div>
    </form>
  </div>
  {% for channel in channels.list %}
  <div class="KBylAf channel-card">
    <div class="cja Os3xkf Ltb">
      <div class="r6Rtbe vlMSze TjKfDe Eqy3Ue j8T7he" role="article">
        <div class="sNZZue l8zNY">
          <a href="/c/{{ channel.id }}" class="FW9qdb Wk gosnEc HF7jKf" aria-hidden="true" data-tileposition="5">
            <img src="/static/avatar/channel/b_{{ channel.avatar or 'default.png' }}?t={{ gen_random() }}" width="170px" height="170px" alt="" class="Rf " data-pinit="registered"></a>
        </div>
        <div class="JZc2Fe"></div>
        <div class="gecJce Xk6Ee">
          <a href="/c/{{ channel.id }}" class="fmPSLc Dt0N7d WBzBVe HF7jKf FW9qdb" data-tileposition="5">{{ channel.name }}</a>
          <div class="We4Wwc ljarXd">{{ channel.intro }}</div>
        </div>
        <div class="kOVcgc dS">
          <div class="Dq er a-f-e follow-toggle">
            
            {% if channel.follow_user_id %}
            {% if channel.follow_user_id==channel.author_id %}
            <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b followed disabled" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
              <input type="hidden" name="channel_id" value="{{ channel.id }}">
              <span class="follow-text" dir="ltr">已关注</span>
            </div>
            {% else %}
            <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow followed" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
              <input type="hidden" name="channel_id" value="{{ channel.id }}">
              <span class="follow-text" dir="ltr">取消关注</span>
            </div>
            {% endif %}
            {% else %}
            <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
              <input type="hidden" name="channel_id" value="{{ channel.id }}">
              <span class="follow-text" dir="ltr">关注</span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block right %}
{% endblock %}