{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.thumb img, .thumb i, .thumb .title',  function() {
          $(this).parent().html("<p class=\"medis_func S_txt3\"><a href=\"javascript:void(0);\" action-type=\"feed_list_media_toSmall\" class=\"retract\"><em class=\"W_ico12 ico_retract\"></em>收起</a><i class=\"W_vline\">|</i><a href=\"http://t.cn/zQ7uetb\" title=\"视频-荣耀之路致敬艺术大师 家嫂33岁生日快乐！\" class=\"show_big\" target=\"_blank\"><em class=\"W_ico12 ico_showbig\"></em>视频-荣耀之路致敬艺术大...</a><i class=\"W_vline\">|</i><a action-type=\"feed_list_media_toFloat\" action-data=\"title=视频-荣耀之路致敬艺术大师 家嫂33岁生日快乐！\" href=\"javascript:void(0);\" class=\"turn_right\">弹出</a></p><embed width=\"350\" height=\"270\" src=\"http://player.youku.com/player.php/sid/XNDc1NzAyMDYw/v.swf\" allowFullScreen=\"true\" quality=\"high\" align=\"middle\" allowScriptAccess=\"always\" flashvars=\"isAutoPlay=true\" type=\"application/x-shockwave-flash\"></embed>");
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.retract',  function() {
          $(this).parent().parent().html("<img src=\"http://p3.v.iask.com/849/338/108335999_1.jpg\"><i class=\"play\"></i><div class=\"title\"><a href=\"javascript:void(0);\" class=\"a-n ot-anchor YF\">吉米鸡毛秀 约翰尼德普做客热吻连连 @铁手Desperado译制</a></div>");
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.comment',  function() {
          $(this).hide();
          $(this).parent().parent().find(".comment-editor").html("<div class=\"divider\" style=\"\"></div><div class=\"wrapper\"><a href=\"./\" class=\"\" aria-hidden=\"true\"><img src=\"//lh4.googleusercontent.com/-deUkWpgvu6o/AAAAAAAAAAI/AAAAAAAAAAA/p6RFKhrUf1g/s28-c-k-no/photo.jpg\"width=\"28px\" height=\"28px\" alt=\"\" class=\"avatar\"></a><div class=\"editor-box\"><div class=\"inner\"><div class=\"input\" role=\"textbox\" contenteditable=\"plaintext-only\"></div></div></div><span class=\"button-wrap\"><div role=\"button\" id=\":61.post\" class=\"gbtn post gbtn-unenable\" aria-disabled=\"true\" style=\"-webkit-user-select: none;\">发布评论</div><div role=\"button\" id=\":61.cancel\" class=\"gbtn cancel cancel-comment\" style=\"-webkit-user-select: none;\">取消</div></span></div>");
        });

        $(document).on('click', '.cancel',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });

        $(document).on('click', '.cancel-comment',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });

        $(document).on('click', '.post-btn',  function() {
          $(this).hide();
          $(".post-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".post-box").hide();
          $(".post-btn").show();
        });
      });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow-toggle').click(function() {
                var channel_id = {{ channel.id }};             
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('.follow-toggle').removeClass('followed');
                                $('.follow-toggle').removeClass('btn-danger');
                                $('.follow-toggle').text("关注");
                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('.follow-toggle').addClass('followed');
                            $('.follow-toggle').addClass('btn-danger');
                            $('.follow-toggle').text("取消关注");
                        }
                    }); 
                }
            });        
        });
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            $('.plus-toggle').click(function() {              
                var channel_id = {{ channel.id }};
                var plus = parseInt($('.plus-toggle').text())     
                if($(this).hasClass('plused')) {
                        $.getJSON('/p/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_plused") {
                                $('.plus-toggle').removeClass('plused');
                                $('.plus-toggle').removeClass('btn-danger');
                                plus=plus-1
                                $('.plus-toggle').text("+"+plus);
                                $('#plus-num').html(plus + "<span>plus</span>");
                            }
                        });                        
                } else {
                    $.getJSON('/p/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_plused") {
                            $('.plus-toggle').addClass('plused');
                            $('.plus-toggle').addClass('btn-danger');
                            plus=plus+1
                            $('.plus-toggle').text("+"+plus);
                            $('#plus-num').html(plus + "<span>plus</span>");
                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="feeds">
  <div class="module profile-card component profile-header profile-page-header" data-component-term="profile_follow_card">
    <div class="profile-header-inner flex-module clearfix" data-background-image="url('/static/images/login.jpg')">
      <div class="profile-header-inner-overlay"></div>

      <a href="/c/{{ channel.id }}" class="profile-picture media-thumbnail">

        <img src="/static/avatar/channel/m_{{ channel.avatar or 'default.png' }}?t={{ gen_random() }}" alt="{{ channel.name }}" class="avatar size73"></a>

      <div class="profile-card-inner" data-screen-name="Paveo" data-user-id="5375972">
        <h1 class="fullname editable-group">
          <span class="profile-field">{{ channel.name }}</span>

        </h1>

        <h2 class="username">
          <span class="screen-name">
            <s>@</s>
            {{ channel.author_username }}
          </span>
        </h2>
        <div class="bio-container editable-group">
          <p class="bio profile-field">{{ channel.intro }}</p>
        </div>
      </div>
    </div>
    <div class="flex-module profile-banner-footer clearfix">
      <div class="default-footer">
        <ul class="stats js-mini-profile-stats" data-user-id="5375972">
          <li>
            <a class="js-nav" href="/Paveo" data-element-term="tweet_stats" data-nav="profile"> <strong>{{ channel.posts }}</strong>
              视频
            </a>
          </li>
          <li>
            <a class="js-nav" href="/Paveo/following" data-element-term="following_stats" data-nav="following"> <strong>324</strong>
              正在关注
            </a>
          </li>
          <li>
            <a class="js-nav" href="/Paveo/followers" data-element-term="follower_stats" data-nav="followers">
              <strong>{{ channel.followers }}</strong>
              关注者
            </a>
          </li>

        </ul>
        
        {% if channel.author_id!=user_info.uid %}
        <div class="channel-post-btn follow-btn" title="关注">
          {% if followed == 1 %}
          <a href="javascript:void(0)"  class="btn btn-primary follow-toggle btn-danger followed">取消关注</a>
          {% else %}
          <a href="javascript:void(0)"  class="btn btn-primary follow-toggle">关注</a>
          {% endif %}
        </div>
        {% else %}
        <div class="channel-post-btn follow-btn" title="关注">
          <a href="javascript:void(0)"  class="btn btn-primary btn-danger followed disabled">已关注</a>
        </div>
        <div class="channel-post-btn follow-btn">
          <a href="/c/{{channel.id}}/setting"  class="btn setting-btn">设置</a>
        </div>
        {% endif %}
        

      </div>
    </div>
    <div class="profile-social-proof">
      <div class="follow-bar">
        <div class="social-proof">
          <div class="facepile">
            <a class="pretty-link js-user-profile-link " href="/yegle" data-user-id="14157249" original-title="一阁" title="一阁">
              <img class="avatar size32 js-user-profile-link js-tooltip" src="https://si0.twimg.com/profile_images/3191173348/5df54abee5afeb38f02242caf16ecf27_normal.jpeg" alt="一阁" title="一阁"></a>
            <a class="pretty-link js-user-profile-link " href="/cosbeta" data-user-id="14697308" original-title="东哥" title="东哥">
              <img class="avatar size32 js-user-profile-link js-tooltip" src="https://si0.twimg.com/profile_images/378800000379779080/4a40ca7a32675b9e312a2c046a23dfc8_normal.jpeg" alt="东哥" title="东哥"></a>
            <a class="pretty-link js-user-profile-link " href="/HowardSu" data-user-id="16051594" original-title="HowardSu" title="HowardSu">
              <img class="avatar size32 js-user-profile-link js-tooltip" src="https://si0.twimg.com/profile_images/2770220064/779ae5dbc309a6a7625de6d5df6e8f21_normal.jpeg" alt="HowardSu" title="HowardSu"></a>

          </div>
          <div class="namepile">
            <p>
              被
              <a class="pretty-link user-profile-link js-user-profile-link" data-user-id="14157249" href="/yegle" title="一阁"> <b>一阁</b>
              </a>
              、
              <a class="pretty-link user-profile-link js-user-profile-link" data-user-id="14697308" href="/cosbeta" title="东哥"> <b>东哥</b>
              </a>
              、
              <a class="pretty-link user-profile-link js-user-profile-link" data-user-id="16051594" href="/HowardSu" title="HowardSu">
                <b>HowardSu</b>
              </a>
              及
              <a href="/Paveo/followers_you_follow" class="pretty-link">
                <b>另外23人关注</b>
              </a>
              。
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>
  
<div class="c-setting-card">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="setting-title">频道设置</legend>
            </div>
            {{ errors|dump_errors }}
            <div class="control-group">
                <!-- Avatar -->
                <label class="control-label" for="username">头&nbsp;&nbsp;&nbsp;&nbsp;像</label>
                <div class="controls">
                    <img src="/static/avatar/channel/m_{{ channel.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                    <a href="/c/{{channel.id}}/setting/avatar" class="btn btn-primary mbtn avatar-btn">设置头像</a>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="self_intro">简&nbsp;&nbsp;&nbsp;&nbsp;介</label>
                <div class="controls">
                    <textarea type="text" id="self_intro" name="self_intro" placeholder="" class="input-xlarge">{{ user_info.self_intro or '' }}</textarea>
                    <p class="help-block">可以稍微详细的介绍自己。</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-primary">保存改动</button>
                </div>
            </div>
        </fieldset>
        {{ xsrf_form_html() }}
    </form>
</div>
</div>
{% endblock %}

{% block right %}
<div class="right-bar">
  <div class="maylike">
    <h4 class="header">
      <span>你可能喜欢的频道</span>
    </h4>
    <div class="like-channels">

      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh4.googleusercontent.com/-bf4rSxrZmR0/AAAAAAAAAAI/AAAAAAAAADA/ycDTEuOuL5A/s120-c/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">V for Vendetta</a>
          </div>
          <div class="like">
            <a href="/">1211 人喜欢</a>
          </div>
        </div>
      </div>
      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh4.googleusercontent.com/-w5lqw_FT-JM/AAAAAAAAAAI/AAAAAAAAABw/oCXK48O0H7M/s46-c-k-no/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">皮克斯短片集</a>
          </div>
          <div class="like">
            <a href="/">219 人喜欢</a>
          </div>
        </div>
      </div>
      <div class="channel-item">
        <div class="cover">
          <a href="/">
            <img src="https://lh3.googleusercontent.com/-F1ARRPUL8nY/AAAAAAAAAAI/AAAAAAAAAFs/3cuRu2ZBwkg/s46-c-k-no/photo.jpg" alt="" class="cover-img"></a>
        </div>
        <div class="info">
          <div class="title">
            <a href="/">America's Funniest</a>
          </div>
          <div class="like">
            <a href="/">337 人喜欢</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}