{% extends 'snippet/layout.html' %}
<title>每日图卦 用户设置</title>

{% block stylesheet %}
<link rel="stylesheet" href="/static/tapmodo-Jcrop-1902fbc/css/jquery.Jcrop.css" type="text/css" />
<link rel="stylesheet" href="/static/bootstrap-tagsinput/bootstrap-tagsinput.css">
{% endblock %}

{% block main %}
<form class="mt10" action='/setting' method="POST" enctype="multipart/form-data">
    {{ errors|dump_errors }}
    <div class="col-xs-12 col-md-9">
        <div class="Column1 section bf_dom">
            <div class="section">
                <div class="content">

                    <div id="qp_superlist" class="suplist_image_width_off  old-source has_drag_drop suplist_list_none suplist_post_width_standard" style="">

                        <div id="suplist_left_post_controls" style="min-height: 473px;">

                            <div id="suplist_heading" class="c">

                                <h1 class="qp_create">用户设置</h1>

                                <input type="submit" id="checkall" class="btn btn-sm btn-success" value="保存设置">{{ xsrf_form_html() }}</div>

                            <div class="c qp_std_promo" id="suplist_promo">

                                <div class="qp_std_promo_fields">

                                    <fieldset>

                                        <div class="qp_input has_autocap">
                                            <div for="setting-username" class="label-username">用户名:</div>
                                            <input type="text" id="setting-username" name="username" class="qp_text autocap autocap_on autocap_status_headline bf_dom" placeholder="用户名" value="{{user_info.username}}"></div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="qp_input">
                                            <div for="setting-intro" class="label-intro">自我介绍:</div>
                                            <textarea class="qp bf_dom" id="setting-intro" name="intro" placeholder="自我介绍">{{user_info.intro}}</textarea>
                                        </div>

                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-3">
        <div class="section bf_dom ">
            <div class="section sidebar_featured_unified"></div>
        </div>
    </div>

</form>
{% endblock %}

{% block javascript %}
{% endblock %}