{% extends 'snippet/layout-m.html' %}
{% block title %}
<title>福利色 {{view_user_info.username}}</title>
{% endblock %}

{% block main %}
<div class="author-profile user-profile clearfix">

  <div class="author-profile-face user-profile-face clearfix">
    <img class="gravatar user-avatar" src="{{ view_user_info.avatar }}" width="50" height="50"></div>

  <div class="author-profile-text">
    <h2 class="yahei">
      <a href="/u/{{ view_user_info.username }}">{{ view_user_info.username }}</a>
    </h2>
    <p>{{ view_user_info.intro }}</p>
  </div>

</div>

<ul class="std-posts">
  {% for std in stds.list %}
  <li id="post-{{ std.id }}" class=" std-post post track bf_dom first  has-like-button bf_cts-1-1 bf_cts  scrolled_past">
    <article>
      <header>
        <div class="thumb-unit bf_dom">
          <a href="/p/{{ std.id }}">
            <div style="position:relative;">
              <img class="thumb bf_dom " style="" src="http://mrtgimg.qiniudn.com/n_{{ std.thumb }}" width="125" height="83" alt=""></div>
          </a>
        </div>
        <hgroup>
          <h2 class="" style="">
            <a href="/p/{{ std.id }}">{{ std.title }}</a>
          </h2>
        </hgroup>
      </header>
      <p class="description " style=""> <b>{{ std.intro }}</b>
      </p>
      <p class="small-meta">
        <span class="generic-image icon"></span>
        <a class="username notranslate" href="#">{{ std.author_username }}</a>
        <span class="time-image icon"></span>
        <span class="time-ago">{{ std.created|pretty_date }}</span>

        <span class="response-image icon"></span>
        <span class="num">{{ std.count }}</span> <font>&nbsp;人看过</font> 

      </p>
    </article>
  </li>
  {% endfor %}
</ul>

<ul class="pager">{{ stds.page|pagination(request.uri) }}</ul>
{% endblock %}

{% block javascript %}
{% endblock %}